/**
* Font_Family
*/
@font-face {
    font-family: 'Font_Family';
    src: url('../font/font_name.eot');
    src: url('../font/font_name.eot?#iefix') format('embedded-opentype'),
    	 url('../font/font_name.woff') format('woff'),
         url('../font/font_name.ttf') format('truetype'),
         url('../font/font_name.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family: 'Font_Family';
        src: url('../font/font_name.svg') format('svg');
    }
}