/***** MINIMUM 320PX && MAXIMUM 1199PX *****/
@media screen and (min-width: 320px) and (max-width: 1199px) {    
	
	/* Mobile Menu */
    a#mobileHomeBtn {
        width: 20px;
        height: 18px;
        background: url(../../images/mobile/iconMobileHome.png) no-repeat;
        position: absolute;
        right: 65px;
        top: 51px;
        display: block;
    }

    div#mobileMenuBtn {
        width: 29px;
        height: 22px;
        background: url(../../images/mobile/iconMobileMenu.png) no-repeat;
        position: absolute;
        right: 15px;
        top: 50px;
        cursor: pointer;
        display: block;        
    }

    ul#mobileMenuList {
        padding: 10px 0;
    }

    ul#mobileMenuList li {
        padding: 0 20px;
        border-bottom: 1px solid #fff;
        display: block;
    }

    ul#mobileMenuList li a {
        padding: 10px 0;
        display: block;
        position: relative;
        font-family: 'unitslabpro_regular';
        font-size: 15px;
        color: #fff;
    }

    ul#mobileMenuList > li > a.active:after {
        content: '>';
        position: absolute;
        right: 0;
        top: 0;
        font-size: 30px;
    }

    ul#mobileMenuList li div.languages {
        padding-top: 10px;
    }

    ul#mobileMenuList li div.languages a {
        padding: 0;
        margin-bottom: 10px;
    }

    ul#mobileMenuList ul {
        padding: 4px 0;
        display: none;
    }    
	
	ul#mobileMenuList li.active ul {
        display: block;
    }

    ul#mobileMenuList ul li {
        padding: 0 0 0 5px;
        border: none;
    }

    ul#mobileMenuList ul li a {
        padding: 8px;
        font-size: 13px;
    }

    ul#mobileMenuList ul li:first-child a {
        padding-top: 0;
    }

    ul#mobileMenuList ul li a:before{
        padding-right: 5px;
        content: '>';
        font-size: 14px;
    }

}

