@import '../mixins';
@import '../variables';
@import '../functions';

/***** MINIMUM 320PX && MAXIMUM MAINWIDTH *****/
@media screen and (min-width: 320px) and (max-width: $mainWidth - 1 * 1px) {
    // Slidebars
    .sb-slidebar {
        @include linear(top,bottom,$mainColor,$secondColor %70);
    }

    // Mobile Menu Button
    div.mobileHomeBtn {
        width: 27px;
        height: 12px;
        padding-top: 8px;
        position: absolute;
        right: 25px;
        top: 15px;
        display: block;
        z-index: 9999;
        cursor: pointer;
        @include appearance();
        @include ts2(background, 0.3s);

        &.is-active {
            span {
                background: none;

                &::before, &::after {
                    -webkit-transition-delay: 0s, 0.3s;
                    transition-delay: 0s, 0.3s;
                }

                &::before {
                    top: 0;
                    @include rotate(45deg);
                }

                &::after {
                    bottom: 0;
                    @include rotate(-45deg);
                }
            }
        }

        span {
            width: 27px;
            height: 3px;
            background: $mainColor;
            display: block;
            position: relative;
            @include ts2(background, 0s 0.3s);

            &::before, &::after {
                position: absolute;
                display: block;
                left: 0;
                width: 100%;
                height: 3px;
                background-color: $mainColor;
                content: "";
                -webkit-transition-duration: 0.3s, 0.3s;
                transition-duration: 0.3s, 0.3s;
                -webkit-transition-delay: 0.3s, 0s;
                transition-delay: 0.3s, 0s;
            }

            &::before {
                top: -8px;
                -webkit-transition-property: top, -webkit-transform;
                transition-property: top, transform;
            }

            &::after {
                bottom: -8px;
                -webkit-transition-property: bottom, -webkit-transform;
                transition-property: bottom, transform;
            }
        }
    }

    // Mobile Home & Lang
    ul.slidebarTop {
        li {
            width: calc(100% / 3);
            border-right: 1px solid $mainColor;
            float: left;
            box-sizing: border-box;

            &:last-of-type {
                border-right: none;
            }

            a {
                width: 100%;
                height: 50px;
                background: $secondColor;
                font-size: px-to-rem(15);
                line-height: px-to-rem(19);
                color: #fff;
                display: block;
                position: relative;
                @include flex();
                @include center();

                &.slidebarHome {
                    &::after {
                        width: 21px;
                        height: 19px;
                        background: url("../../images/mainSprite.png") no-repeat -2px -601px;
                        content: "";
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        @include translate(-50%, -50%);
                    }
                }
            }
        }
    }

    // Mobile Menu
    ul.mobileMenuList {
        li {
            border-bottom: 1px solid #fff;
            display: block;

            &.active {
                & > a {
                    color: $baseColor;
                }
            }

            a {
                padding: 10px 20px;
                font-size: px-to-rem(15);
                line-height: px-to-rem(19);
                color: #fff;
                display: block;
                position: relative;
            }

            &.active {
                & > ul {
                    display: block;
                }
            }
        }
        ul {
            padding: 4px 0;
            display: none;

            li {
                padding: 0 0 0 5px;
                border: none;

                &:first-child {
                    a {
                        padding-top: 0;
                    }
                }

                a {
                    padding: 8px;
                    font-size: px-to-rem(14);
                    line-height: px-to-rem(18);
                }
            }
        }
    }

    // Gallery
    ul.gallery {
        li {
            a {
                width: 100%;
                height: inherit;

                img {
                    width: 100%;
                }

                &::before, &::after {
                    display: none;
                }
            }
        }
    }

    // Contact Page
    .contactForm {
        margin: 0 auto;
    }

    .generalFormContainer {
        width: 100%;
        margin: 20px auto 20px;
    }

    .desktopMapContainer {
        display: none;
    }

    .mobileMapContainer {
        display: block;
    }
}

/***** MINIMUM 320PX && MAXIMUM 478PX *****/
@media screen and (min-width: 320px) and (max-width: 479px) {
    // Gallery
    ul.gallery {
        li {
            width: calc(50% - 10px);
            margin: 0 20px 20px 0;

            &:nth-child(2n){
                margin-right: 0 !important;
            }

            &:nth-child(3n){
                margin-right: 20px;
            }
        }
    }

    // FAQ
    .faq {
        &_trigger {
            font-size: px-to-rem(15);
            line-height: px-to-rem(21);
        }
    }

    // Contact Page
    .generalFormContainer {
        .g-recaptcha {
            position: absolute;
            @include scale(0.921,0.921);
            @include prefix(transform-origin,0 0);
        }

        .contactButtons {
            margin-top: 82px;
            float: none;

            input {
                &[type="reset"], &[type="submit"] {
                    width: 133px;
                    float: left;

                    &.resetContact, &.resetCareer {
                        margin-right: 12px;
                    }
                }
            }

            .clear {
                display: none;
            }
        }

        // Career Page
        &.career {
            .contactButtons {
                margin-top: 94px;
                float: none;
            }
        }
    }
}

/***** MINIMUM 320PX && MAXIMUM 767PX *****/
@media screen and (min-width: 320px) and (max-width: 767px){
    // Contact Page
    .generalFormContainer {
        .contactFormContainer {
            .contactTop {
                width: 100%;
            }

            .contactRight {
                width: 100%;
                position: relative;
            }
        }

        // Career Page
        &.career {
            .careerTop {
                .careerLeft {
                    width: 100%;
                    float: none;
                }

                .address {
                    &.contactInputWrapper.contactText {
                        width: 100%;
                        height: 120px;
                        margin: 0 0 12px 0;
                        position: relative;
                    }
                }
            }

            .message {
                textarea {
                    height: 98px;
                }
            }
        }
    }
}

/***** MINIMUM 480PX && MAXIMUM 767PX *****/
@media screen and (min-width: 480px) and (max-width: 767px){
    // Gallery
    ul.gallery {
        li {
            width: calc(100% / 3 - 10px);
            margin: 0 15px 15px 0;
        }
    }

    // FAQ
    .faq {
        &_trigger {
            font-size: px-to-rem(18);
            line-height: px-to-rem(22);
        }
    }
}

/***** MINIMUM 768PX && MAXIMUM MAINWIDTH *****/
@media screen and (min-width: 768px) and (max-width: $mainWidth - 1 * 1px){
    // Gallery
    ul.gallery {
        li {
            width: calc(25% - 15px);
            margin: 0 20px 20px 0;

            &:nth-child(3n){
                margin-right: 20px;
            }

            &:nth-child(4n){
                margin-right: 0 !important;
            }
        }
    }
}

/***** DISPLAY NONE ELEMENTS FOR DESKTOP *****/
@media screen and (min-width: $mainWidth * 1px){
    .mobileMapContainer {
        display: none;
    }
}