/*------------------------------------------*\
    SKELETON
\*------------------------------------------*/

@import '../mixins';
@import '../variables';
@import '../functions';

html {
    font-size: $baseFontSize * 1px;
    @include prefix(text-size-adjust, 100%);
}

body {
    font-family: $baseFontFamily;
    color: $baseColor;
}

a {
    color: $baseColor;
}

.clear {
    clear: both;
    height: 0;
}

ul.bulletList {
    margin-left: 20px;
    list-style-type: disc;
}

ul.noListType {
    list-style-type: none;
}

/**
 ** HEADER
**/
#header {
    width: $mainWidth;
    margin: $centerElement;
}


/**
 ** SHOWCASE
**/
#showcase {
    width: $mainWidth;
    margin: $centerElement;
}


/**
 ** CONTENT
**/
#content {
    width: $mainWidth;
    margin: $centerElement;
}


/**
 ** SUB CONTENT
**/
#subContent {
    width: $mainWidth;
    margin: $centerElement;
}


/**
 ** FOOTER
**/
#footer {
    width: $mainWidth;
    margin: $centerElement;
}


/*------------------------------------------*\
    PAGES
\*------------------------------------------*/

/**
 ** NEWS PAGE
**/
ul#newsList {
    list-style-type: none;
    li {
        margin-bottom: 25px;
        &:last-child {
            a {
                border-bottom: none;
            }
        }
        a {
            padding-bottom: 25px;
            border-bottom: 1px solid rgba(148,148,148,0.2);
            display: block;
            &:hover {
                .newsImgContainer {
                    &::after {
                        padding: 175px;
                        margin: -325px 0 0 -325px;
                    }
                }
                .newsTitle, .newsDate, .newsSummary p {
                    color: rgba(235,25,33,0.8);
                }
            }
        }
        .newsImgContainer {
            float: left;
            position: relative;
            overflow: hidden;
            img {
                vertical-align: bottom;
            }
            &::after {
                width: 0;
                height: 0;
                margin: -150px 0 0 -150px;
                padding: 0;
                border: 150px solid rgba(0,0,0,0.6);
                content: "";
                position: absolute;
                top: 50%;
                left: 50%;
                @include ts(0.5s);
                @include radius(100%);
            }
        }
        .newsRight {
            width: calc(100% - 265px);
            float: right;
        }
        .newsTitle, .newsDate {
            margin-bottom: 14px;
            font-size: px-to-rem(22);
            line-height: px-to-rem(26);
            color: rgba(83,83,83,0.9);
            float: left;
            @include ts(0.5s);
        }
        .newsDate {
            font-size: px-to-rem(18);
            float: right;
        }
        .newsSummary {
            line-height: px-to-rem(18);
            margin-bottom: 10px;
            p {
                margin-bottom: 10px;
                font-size: px-to-rem(17);
                line-height: px-to-rem(23);
                @include ts(0.5s);
            }
        }
    }
}

/* News Inner */
.newsContentTitle {
    margin-bottom: 16px;
    font-size: px-to-rem(25);
    line-height: px-to-rem(31);
    color: rgba(83,83,83,0.9);
    span {
        font-size: px-to-rem(21);
        float: right;
    }
}

.newsContent {
    p {
        font-size: px-to-rem(16);
        line-height: px-to-rem(24);
    }
}

/* Other News List */
.otherNewsTitle {
    margin: 100px 0 0 0;
    padding: 0 0 20px 0;
    font-size: px-to-rem(25);
    line-height: px-to-rem(31);
    color: rgba(83,83,83,0.8);
    border-bottom: 1px solid #C9C9C9;
}

ul#otherNewsList {
    list-style-type: none;
    li {
        border-bottom: 1px solid #E9E9E9;
    }
}

a.otherTitle {
    padding: 20px 0 20px 18px;
    font-size: px-to-rem(17);
    line-height: px-to-rem(21);
    color: rgba(83,83,83,0.8);
    display: block;
    position: relative;
    @include ts(0.2s);
    &:hover {
        color: $mainColor;
        &::before {
            color: $mainColor;
        }
    }
    &::before {
        margin-top: -11px;
        font-size: px-to-rem(17);
        line-height: px-to-rem(21);
        color: rgba(83,83,83,0.8);
        content: "+";
        position: absolute;
        left: 0;
        top: 50%;
        @include ts(0.2s);
    }
}

/**
 ** CAREER PAGE
**/
#generalFormContainer.career {
    width: 100%;
    .g-recaptcha {
        float: left;
    }
    .contactButtons {
        margin: 0;
        float: right;
        input {
            height: 37px;
            margin: 0 0 4px 0;
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }
}

form#careerForm {
    .careerTop {
        margin-bottom: $contactMargin;
        position: relative;
        input {
            &[type="text"] {
                background: url('../../images/mainSprite.fw.png') no-repeat;
                &#namesurname {
                    background-position: 10px 7px;
                }
                &#phone {
                    background-position: 10px -35.5px;
                }
                &#email {
                    background-position: 10px -76px;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        textarea {
            &#address {
                width: calc(50% - 106px);
                height: calc(100% - 22px);
                margin: 0;
                display: block;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
    }
}

.careerLeft {
    width: calc(50% - 6px);
    float: left;
}


/**
 ** CONTACT PAGE
**/
.mainContactContainer {
    margin: 0 auto;
    position: relative;
    &.multiple {
        .contactInformations {
            width: 47.5%;
            padding-right: 52.5%;
            position: relative;
        }
        div#generalFormContainer {
            width: 100%;
        }
    }
}

.contactInformations {
    width: 47.5%;
    margin-bottom: 50px;
}

.contactInfo {
    width: 100%;
}

/* Contact List */
ul.contactList {
    &.icon {
        li {
            padding: 0 0 15px 30px;
            background: url('../../images/mainSprite.fw.png') no-repeat;
            &:nth-child(1) {
                background-position: 5px -302px;
            }
            &:nth-child(2), &:nth-child(3) {
                background-position: 5px -443px;
            }
            &:nth-child(4) {
                background-position: 5px -582px;
            }
            &:nth-child(5) {
                background-position: 5px -739px;
            }
            div {
                display: none;
            }
        }
    }
    li {
        padding: 7px 0;
        font-size: px-to-rem(14);
        line-height: px-to-rem(22);
        color: #666666;
        div {
            display: inline-block;
            &:first-child {
                width:60px;
            }
            &:last-child {
                width:45px;
                text-align:center;
            }
        }
        a {
            color: #666666;
        }
    }
}

.mapContainer, a.mapLink, div.mapDiv, div.mapDiv iframe{
    width: 47.5%;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

a.mapLink, div.mapDiv {
    width: 100%;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    overflow: hidden;
}

a.mapLink {
    z-index: 2;
}

div.mapDiv {
    z-index: 1;
    iframe {
        width: 100%;
    }
}

/*------------------------------------------*\
    FORMS
\*------------------------------------------*/
div#generalFormContainer {
    width: 47.5%;
    margin: 50px 0 0;
    font-size: px-to-rem(14);
    color: #777777;
    input, textarea {
        background: url('../../images/mainSprite.fw.png') no-repeat;
        &:focus {
            border-color: #888;
        }
    }
    input {
        width: calc(100% - 102px);
        height: 37px;
        margin-bottom: $contactMargin;
        padding: 0 50px;
        border: 1px solid #D6D6D6;
        font-size: px-to-rem(15);
        line-height: px-to-rem(37);
        display: block; *display: inline; zoom: 1;
        @include ts(0.2s);
        &#namesurname {
            background-position: 10px 7px;
        }
        &#phone {
            background-position: 10px -35.5px;
        }
        &#email {
            background-position: 10px -76px;
        }
        &#city {
            background-position: 10px -206px;
        }
        &#topic {
            background-position: 10px -113px;
        }
        &#department {
            background-position: 10px -156px;
        }
        &[type="reset"], &[type="button"], &[type="submit"] {
            width: 130px;
            height: 37px;
            margin-bottom: 5px;
            padding: 0 10px;
            background: $secondColor;
            border: 1px solid $secondColor;
            background: $secondColor ;
            font-size: px-to-rem(20);
            line-height: px-to-rem(37);
            color: #fff;
            cursor: pointer;
            @include ts(0.2s);
            &:hover {
                border-color: $mainColor;
                background-color: $mainColor;
                color: #fff;
            }
        }
        &#captcha {
            width: 100px;
            float: left;
            text-align: center;
            &.valid, &.valid:focus, &.error, &.error:focus {
                border-color: #D6D6D6;
            }
        }
    }
    textarea, select {
        width: 400px;
        height: 37px;
        margin-bottom: $contactMargin;
        border: 1px solid #D6D6D6;
        font-size: px-to-rem(15);
        line-height: px-to-rem(21);
        display: block; *display: inline; zoom: 1;
        @include ts(0.2s);
    }
    textarea {
        width: calc(100% - 102px);
        height: 178px;
        padding: 10px 50px;
        resize: none;
        overflow: auto;
        &#address {
            background-position: 13.5px -934px;
        }
        &#message {
            background-position: 12.5px -1302px;
        }
    }
    select {
        width: 342px;
        height: auto;
    }
    .error, .error:focus, .error + .fileBorder {
        border-color: #C40F0F !important;
    }
    .valid, .valid:focus, .valid + .fileBorder {
        border-color: #3c763d !important;
    }
    #fileUpload {
        height: 37px;
        margin-bottom: $contactMargin;
        position: relative;
        input {
            width: calc(100% - 102px);
            margin: 0;
            &[type="file"] {
                width: calc(100% - 102px);
                height: 37px;
                z-index: 3;
                -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
                filter: alpha(opacity=0);
                -moz-opacity: 0;
                -khtml-opacity: 0;
                opacity: 0;
                cursor: pointer;
                + .fileBorder {
                    width: 320px;
                    height: 25px;
                    margin: 6px 0;
                    padding: 5px 10px;
                    display: inline-block;
                    *display: inline;
                    zoom: 1;
                    border: 1px solid #D6D6D6;
                    z-index: 2;
                    display: none;
                }
            }
        }
        * {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            background: url("../../images/mainSprite.fw.png") no-repeat 10px -256px;
        }
        .error + .fileBorder, .valid + .fileBorder {
            display: block;
        }
    }
}

.generalFormTitle {
    margin-bottom: 20px;
    font-size: px-to-rem(25);
    color: $mainColor;
}

.contactTop {
    position: relative;
}

.g-recaptcha {
    float: left;
}

.contactButtons {
    float: right;
}

// Checkbox and Radio Buttons
.checkbox, .radio {
    &.inline {
        margin-right: 15px;
        display: inline;
    }
    // Square Checkbox
    &.square {
        label {
            &::after {
                content: '✔';
                position: absolute;
                top: 0;
                left: 3px;
                font-size: px-to-rem(16);
                line-height: px-to-rem(24);
                color: #09ad7e;
            }
        }
    }
    // Rounded Checkbox
    &.rounded {
        label {
            &::before {
                @include radius(100%);
            }
            &::after {
                width: 13px;
                height: 13px;
                margin: -7px 0 0 -7px;
                background: #09ad7e;
                top: 12px;
                left: 10px;
                @include radius(100%);
            }
        }
    }
    label {
        padding-left: 25px;
        font-size: px-to-rem(14);
        line-height: px-to-rem(24);
        position: relative;
        display: inline-block;
        cursor: pointer;
        &::before, &::after {
            content: '';
            position: absolute;
        }
        &::before {
            width: 17px;
            height: 17px;
            left:0;
            top: 2px;
            border: 1px solid #aaa;
            background: #f8f8f8;
            box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
            @include radius(3px);
        }
        &::after {
            @include ts(0.2s);
            @include opacity(0);
            @include scale(0,0);
        }
    }
    input {
        display: none;
        &:checked + label::after {
            opacity: 1;
            @include scale(1,1);
        }
    }
}

// Select
.selectContainer {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    select {
        width: 130%;
        padding: 5px 8px;
        border: none;
        box-shadow: none;
        background-color: transparent;
        &:focus {
            outline: none;
        }
    }
}

/*------------------------------------------*\
    GALLERY
\*------------------------------------------*/

ul.gallery {
    li {
        margin: $galleryMargin;
        float: left;
        &:nth-child(#{$imagesPerRow}n){
            margin-right: 0;
        }
        a {
            width: $galleryWidth;
            height: $galleryHeight;
            position: relative;
            display: block;
            &:hover {
                &::before {
                    border: solid rgba(0,0,0,0.7);
                    border-width: ($galleryHeight / 2) ($galleryWidth / 2) ($galleryHeight / 2) ($galleryWidth / 2);
                    @include opacity(1);
                }
                &::after {
                    @include scale(1,1);
                    @include opacity(1);
                    @include prefix(transition-delay,0.3s);
                }
            }
            &::before {
                width: 100%;
                height: 100%;
                border: 0px solid rgba(0,0,0,0.7);
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                @include opacity(0);
                @include prefix(box-sizing, border-box);
                @include ts(0.4s ease-in-out);
            }
            &::after {
                width:20px;
                height:20px;
                margin: -10px 0 0 -10px;
                background: url('../../images/mainSprite.fw.png') no-repeat 0 -896px;
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                @include opacity(0);
                @include scale(0,0);
                @include ts2(transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out);
            }
        }
    }
}


/*------------------------------------------*\
    TABLES
\*------------------------------------------*/

table.contentTable {
    width: 100%;
    // Hover Table
    &.hover {
        tr {
            &:hover {
                background-color: $hoverBackground;
                td,th {
                    color: $hoverColor;
                }
            }
        }
    }
    // Items Centered Table
    &.center {
        tr {
            td,th {
                text-align: center;
            }
        }
    }
    // Zebra Table
    &.zebra {
        tr {
            &:nth-child(even){
                background-color: $zebraColor;
            }
        }
    }
    // First Line With Background-Color
    &.head {
        tr {
            &:first-child {
                td,th {
                    background-color: $hoverColor;
                    font-size: $headSize;
                    color: $headColor;
                }
            }
        }
    }
    // Table With Border
    &.border {
        border: 1px solid $tableBorderColor;
    }
    &.borderCell {
        tr {
            td,th {
                border-right: 1px solid $tableBorderColor;
            }
        }
    }
    tr {
        height: $rowHeight;
        border-bottom: 1px solid $tableBorderColor;
        td,th {
            padding: $cellPadding;
            font-size: $cellSize;
            color: $cellColor;
            vertical-align: middle;
        }
    }
    p {
        margin-bottom: 0;
    }
}
