/**
 ** GLOBAL STYLES
**/

html {
    font-size: $baseFontSize * 1px;
    text-size-adjust: 100%;
    
    // Media 320 - 480
    @include media(320, 480) {
        font-size: px-to-rem($baseFontSize - 2);
    }
    
    // Media 480, 768
    @include media(480, 768) {
        font-size: px-to-rem($baseFontSize - 1);
    }
}

body {
    @include font($baseFontSize,null,$baseFontFamily,$baseColor,null);

    &::-webkit-scrollbar {
        width: 8px;
    }
     
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    }
     
    &::-webkit-scrollbar-thumb {
        background-color: $scrollColor;
    }
}

[off-canvas] {
    // Media 320 - Main Width
    @include media(320, $mainWidth) {
        background-color: $mobileColor;
    }
}

.gap {
    margin-top: $gap;
}

.globalWidth {
    width: $mainWidth * 1px;
    margin: 0 auto;
    
    // Media 320 - Main Width
    @include media(320, $mainWidth) {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }
}

.mobile {
    // Media 320 - Main Width
    @include media(320, $mainWidth) {
        &_btn {
            background-color: transparent;
            position: absolute;
            right: 20px;
            top: 20px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            transition-delay: .4s;

            span {
                width: $fingerSize;
                height: 4px;
                margin: 7px auto;
                background-color: #333;
                display: block;
                transition: 1s;
            }

            &.is-active {   
                transition: all .2s ease-in-out;
                transition-delay: 1s;
                transform: rotate(45deg);

                span {
                    &:nth-child(1) {
                        transform: translateY(9px);
                    }

                    &:nth-child(2) {
                        width: 0px;
                        transition: .2s;
                    }

                    &:nth-child(3) {
                        transform: translateY(-13.5px) rotate(89deg);
                    }

                    &:nth-child(1),
                    &:nth-child(3) {
                        transition-delay: .3s;
                    }
                }
            }            
        }

        &_settings {
            width: 50%;
            background-color: #2F2F2F;

            &_title {
                margin-bottom: 10px;
                border-bottom: 1px solid #E8E8E8;
                padding-bottom: 10px;
                @include font(20,20,$titleFontFamily,#E8E8E8);
            }

            &_list {
                li {
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }

                    &.active {
                        a {
                            &::after {
                                display: block;
                            }
                        }
                    }

                    a {
                        padding-left: 45px;
                        background: no-repeat left 10px center / 25px 25px;
                        display: block;
                        position: relative;
                        @include font(22,26,$titleFontFamily,#E8E8E8);

                        &::after {
                            width: 3px;
                            height: 6px;
                            border: solid #fff;
                            border-width: 0 2px 2px 0;
                            display: block;
                            content: "";
                            position: absolute;
                            right: 10px;
                            top: calc(50% - 3px);
                            transform: rotate(45deg);
                            display: none;
                        }

                        &.tr {
                            background-image: url('../../dist/images/icons/tr.svg');
                        }

                        &.en {
                            background-image: url('../../dist/images/icons/en.svg');
                        }
                    }
                }
            }

            &_button {
                width: 25px;
                height: 25px;
                background: url('../../dist/images/icons/whell.svg') no-repeat center / 25px 25px;
                position: absolute;
                top: 10px;
                right: 10px;
            }
        }

        &_title {
            background-color: $mobileColor;
            padding: 10px;
            @include font(17,25,$titleFontFamily,#E8E8E8,center);
        }

        &_list {
            li {
                &.active {
                    & > a {
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
                        border-left: 4px solid $mainColor;
                        background-color: #2F2F2F;
                    }
                }

                &:last-child {
                    a {
                        border-bottom: 1px solid #323232;
                    }
                }

                &:not(.active) {
                    ul {
                        display: none;
                    }
                }

                a {
                    border-top: 1px solid #323232;
                    padding: 10px 35px 10px 50px;
                    background: no-repeat $mobileColor left 15px center / 25px 25px;
                    display: block;
                    position: relative;
                    @include font(17,25,$baseFontFamily,#E8E8E8);

                    &::after {
                        width: 10px;
                        height: 10px;
                        border-top: 2px solid #E8E8E8;
                        border-right: 2px solid #E8E8E8;
                        content: "";
                        position: absolute;
                        top: calc(50% - 5px);
                        right: 20px;
                        transform: rotate(45deg);
                    }
                }
            }
        }

        &_social {
            @extend .mobile_list;

            li {
                a {
                    &::after {
                        display: none;
                    }
                }
            }
        }

        &_search {
            background-color: darken($mobileColor, 10%);
            border-top: 1px solid #323232;
            padding: 20px;
            position: relative;

            input {
                width: 100%;
                height: 30px;
                padding: 0 10px;
                background-color: $mobileColor;
                color: #E8E8E8;
            }

            button {
                width: 20px;
                height: 20px;
                background: url('../../dist/images/icons/search.svg') transparent no-repeat center / 20px 20px;
                position: absolute;
                top: 25px;
                right: 35px;
            }
        }
    }
}

.scrollTop {
    width: 55px;
    height: 55px;
    background-color: $mainColor;
    position: fixed;
    border-radius: 50%;
    bottom: -50px;
    right: calc(((100% - #{$mainWidth * 1px}) / 4) - 27px);
    z-index: 999;
    transition: .5s;
    @include hide();

    &.visible {
        bottom: 20px;
        @include show();
    }
    
    &:hover {
        background-color: $secondColor;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,.4);
    }

    &::before {
        width: 10px;
        height: 10px;
        border-color: #fff;
        border: 2px solid;
        border-color: #fff #fff transparent transparent;
        content: "";
        position: absolute;
        top: calc(50% - 2px);
        left: calc(50% - 7px);
        transform: rotate(-45deg);
    }

    @include media-max($mainWidth + 120) {
        display: none !important;
    }
}

@for $i from 1 through 6 {
    h#{$i}{
        @include font(30 - ($i * 3), 36 - ($i * 3));
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: $titleFontFamily;
}

h1, h2, h3, h4, h5, h6, .s-list, p {
    margin-bottom: $gutter;
    color: $baseColor;
}

.s-list li, p {
    @include font($baseFontSize, $baseFontSize + 8);
}