/*------------------------------------------*\
    VARIABLES
\*------------------------------------------*/

// Main
$mainWidth: 1200;
$contactMargin: 12px;

// Text
$baseFontFamily: 'tahoma';
$baseFontSize: 15;
$baseColor: #333;
$mainColor: #D30F8B;
$secondColor: #00A7B9;
$contactColor: $mainColor;

// Social Colors
$facebook: #3b5998;
$twitter: #00aced;
$googleplus: #dd4b39;
$linkedin: #007bb5;
$youtube: #bb0000;
$pinterest: #cb2027;
$instagram: #125688;
$instagramBrown: #9b6954;
$instagramNew: linear-gradient( #400080, transparent), linear-gradient(200deg, #d047d1, #ff0000, #ffff00);

// News
$news-img-width: 230;
$news-img-height: 160;

// Gallery
$galleryWidth: 304px;
$galleryHeight: 200px;
$galleryMargin: 25px 25px 0 0;
$imagesPerRow: 3;

// Table
$table-background: transparent;
$table-border-color: #f0f0f0;
$table-row-background: #e1f5fe;
$table-zebra: darken($table-row-background, 7.5%);
$table-breakpoint: 768;

// Mobile
$mobileColor: #967ADC;

// Easing Functions
$easing: (
  linear: cubic-bezier(0.250, 0.250, 0.750, 0.750),

  ease: cubic-bezier(0.250, 0.100, 0.250, 1.000),
  ease-in: cubic-bezier(0.420, 0.000, 1.000, 1.000),
  ease-out: cubic-bezier(0.000, 0.000, 0.580, 1.000),
  ease-in-out: cubic-bezier(0.420, 0.000, 0.580, 1.000),

  ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045),
  ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275),
  ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55),

  ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715),
  ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1),
  ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95),

  ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53),
  ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94),
  ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955),

  ease-in-cubic: cubic-bezier(0.55, 0.085, 0.68, 0.53),
  ease-out-cubic: cubic-bezier(0.25, 0.46, 0.45, 0.94),
  ease-in-out-cubic: cubic-bezier(0.455, 0.03, 0.515, 0.955),

  ease-in-quart: cubic-bezier(0.55, 0.085, 0.68, 0.53),
  ease-out-quart: cubic-bezier(0.25, 0.46, 0.45, 0.94),
  ease-in-out-quart: cubic-bezier(0.455, 0.03, 0.515, 0.955)
);

