/**
 ** ACCORDION
**/

// Accordion Variables
$accordion-vertical-padding: 15px;
$accordion-horizontal-padding: 15px;
$accordion-border-color: #d6d6d6;

.s-accordion {
    > li {
        border: 1px solid $accordion-border-color;
        transition: box-shadow .25s;

        &.active {
            > div {
                display: block;
            }
        }

        &:hover {
            box-shadow: 0 0 8px 1px rgba($accordion-border-color,.5);
        }

        &:not(:first-of-type){
            margin-top: $gutter;
        }

        > a {
            padding: $accordion-vertical-padding 40px $accordion-vertical-padding $accordion-horizontal-padding;
            position: relative;
            display: block;
            cursor: pointer;
            @include font($baseFontSize + 2, $baseFontSize + 8, $titleFontFamily);

            &.active {
                &::before {
                    transform: rotate(-45deg);
                }

                &::after {
                    transform: rotate(45deg);
                }
            }

            & + div {
                padding: $accordion-vertical-padding;
                border-top: 1px solid $accordion-border-color;
                display: none;
            }

            &::before, &::after {
                width: 10px;
                height: 2px;
                background-color: $baseColor;
                content: "";
                box-sizing: border-box;
                position: absolute;
                top: 50%;
                transition: transform,0.3s;
            }

            &::before {
                right: 21px;
                transform: rotate(45deg);
            }

            &::after {
                right: 15px;
                transform: rotate(-45deg);
            }
        }
    }
}