/**
 ** LIST
**/

// List Variables
$list-font-size: $baseFontSize;
$list-zebra-color: #f0f0f0;
$list-border-color: #d6d6d6;
$list-padding-vertical: 5px;
$list-heading-bg: $mainColor;
$list-heading-color: #fff;

.s-list {
    margin-bottom: $gutter;

    > li {
        padding: $list-padding-vertical 0;
        box-sizing: border-box;
        @include font($list-font-size,($list-font-size + 6),$baseFontFamily,$baseColor);

        a {
            color: $baseColor;
        }
    }

    &:not([class*="s-list-column-"]){
        &:not(.s-full){
            display: inline-block;
        }
    }

    &-head {
        border: 1px solid $list-border-color;

        > li {
            padding-right: ($gutter / 2);
            padding-left: ($gutter / 2);

            &:first-child {
                background-color: $list-heading-bg !important;
                font-family: $titleFontFamily;
                color: $list-heading-color;
            }
        }
    }

    &-circle,
    &-square {
        > li {
            padding-left: 17.5px !important;
            padding-right: 17.5px !important;
            position: relative;

            &::before {
                width: 5px;
                height: 5px;
                border-radius: 50%;
                background-color: currentColor;
                content: "";
                position: absolute;
                left: 5px;
                top: #{($baseFontSize / 2) + $list-padding-vertical + 0.5};
            }
        }

        &.s-list-link {
            > li {
                a {
                    padding-left: 17.5px !important;
                }
            }
        }
    }

    &-border,
    &-zebra,
    &-hover {
        border: 1px solid $list-border-color;

        &:not(.list-zebra){
            > li {
                padding-left: $gutter / 2;
                padding-right: $gutter / 2;
            }
        }
    }
    
    &-border {
        > li {
            &:not(:first-of-type){
                border-top: 1px solid $list-border-color;
            }
        }
    }

    &-zebra {
        border: 1px solid $list-border-color;

        &:not([class^="s-list-column"]){
            &:not([class*="s-list-column"]){
                > li {
                    padding-left: $gutter / 2;
                    padding-right: $gutter / 2;

                    &:nth-child(2n - 1){
                        background-color: $list-zebra-color;
                    }
                }
            }
        }
    }

    &-link {
        > li {
            padding: 0 !important;

            a {
                padding: $list-padding-vertical ($gutter / 2);
                cursor: pointer;
                display: block;
            }
        }
    }

    &-hover {
        &.s-list-zebra {
            > li {
                &:hover {
                    background-color: darken($list-zebra-color,7.5%) !important;
                }
            }
        }

        > li {
            &:hover {
                background-color: $list-zebra-color;
            }
        }
    }

    &[class^="s-list-column"],
    &[class*="s-list-column"] {
        display: flex;
        @include flex-wrap(wrap);

        > li {
            padding-left: $gutter / 2;
            padding-right: $gutter / 2;
        }
    }

    @for $i from 2 through 5 {
        &-column {
            &-#{$i}{
                &.s-list-border {
                    > li {
                        &:nth-child(-n + #{$i}){
                            border-top: none;
                        }
                    }
                }

                &.s-list-zebra {
                    > li {
                        @for $j from 1 through $i {
                            &:nth-child(#{$i * 2}n + #{$j}){
                                background-color: $list-zebra-color;
                            }
                        }
                    }
                }

                & > li {
                    width: 100% / $i;
                }
            }
        }
    }
}