/*------------------------------------------*\
    MEDIA
\*------------------------------------------*/

// Mobile Variables
$mobileColor: #3D3D3D;

// 320 - Main Width
@include media(320, $mainWidth) {
    // Full Width Elements
    .class {
        width: 100%;
    }

    // Full Width Elements With Padding 20
    .globalWidth {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        box-sizing: border-box;
    }

    // Slidebars
    [off-canvas] {
        background-color: $mobileColor;
    }

    // Mobile
    .mobile {
        &_btn {
            width: 1em;
            height: 1em;
            padding: 10px;
            background-color: transparent;
            font-size: 50px;
            cursor: pointer;
            position: absolute;
            right: 20px;
            top: 20px;

            &.is-active {
                span {
                    background-color: transparent;

                    &:before {
                        top: 0;
                        @include rotate(225deg);
                    }

                    &:after {
                        bottom: 0;
                        @include rotate(-225deg);
                    }
                }

                &::before {
                    background-color: $mobileColor;
                }
            }

            &.withBg {
                &.is-active {
                    &:before {
                        width: 1em;
                        height: 1em;
                        background: transparent;
                        font-size: 50px;
                        opacity: 1;
                    }

                    span {
                        &::before,
                        &::after {
                            background-color: $mobileColor;
                        }
                    }
                }

                &:before {
                    opacity: 0;
                    width: 0;
                    height: 0;
                    border-radius: 50%;
                    background-color: transparent;
                    content: '';
                    @include centerer(center);
                    @include transition(0.5s ease);
                }
            }

            span {
                display: block;
                position: relative;

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                }

                &:before {
                    top: -8px;
                }

                &:after {
                    bottom: -8px;
                }
            }

            span,
            span:before,
            span:after {
                width: 100%;
                height: 4px;
                background-color: $mobileColor;
                border-radius: 5px;
                @include transition(0.5s ease);
            }
        }

        &_settings {
            width: 50%;
            background-color: #2F2F2F;

            &_title {
                margin-bottom: 10px;
                border-bottom: 1px solid #E8E8E8;
                padding-bottom: 10px;
                @include font(20,20,$titleFontFamily,#E8E8E8);
            }

            &_list {
                li {
                    &:not(:last-child) {
                        margin-bottom: 10px;
                    }

                    &.active {
                        a {
                            &::after {
                                display: block;
                            }
                        }
                    }

                    a {
                        padding-left: 45px;
                        background-repeat: no-repeat;
                        background-position: left 10px center;
                        background-size: 25px 25px;
                        display: block;
                        position: relative;
                        @include font(22,26,$titleFontFamily,#E8E8E8);

                        &::after {
                            width: 3px;
                            height: 6px;
                            border: solid #fff;
                            border-width: 0 2px 2px 0;
                            display: block;
                            content: "";
                            position: absolute;
                            right: 10px;
                            top: calc(50% - 3px);
                            @include rotate(45deg);
                            display: none;
                        }

                        &.tr {
                            background-image: url('../../dist/images/icons/tr.svg');
                        }

                        &.en {
                            background-image: url('../../dist/images/icons/en.svg');
                        }
                    }
                }
            }

            &_button {
                width: 20px;
                height: 20px;
                position: absolute;
                top: 13px;
                right: 10px;

                svg {
                    width: 20px;
                    height: 20px;

                    * {
                        fill: #fff;
                    }
                }
            }
        }

        &_title {
            background-color: $mobileColor;
            padding: 10px;
            @include font(17,25,$titleFontFamily,#E8E8E8,center);
        }

        &_list {
            li {
                &.active {
                    & > a {
                        box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
                        border-left: 4px solid $mainColor;
                        background-color: #2F2F2F;
                    }
                }

                &:last-child {
                    a {
                        border-bottom: 1px solid #323232;
                    }
                }

                &:not(.active) {
                    ul {
                        display: none;
                    }
                }

                a {
                    border-top: 1px solid #323232;
                    padding: 10px 35px 10px 50px;
                    background: no-repeat $mobileColor left 15px center / 25px 25px;
                    display: block;
                    position: relative;
                    @include font(17,25,$baseFontFamily,#E8E8E8);

                    &::after {
                        width: 10px;
                        height: 10px;
                        border-top: 2px solid #E8E8E8;
                        border-right: 2px solid #E8E8E8;
                        content: "";
                        position: absolute;
                        top: calc(50% - 5px);
                        right: 20px;
                        @include rotate(45deg);
                    }
                }
            }
        }

        &_social {
            @extend .mobile_list;

            li {
                a {
                    &::after {
                        display: none;
                    }
                }
            }
        }

        &_search {
            background-color: darken($mobileColor, 10%);
            border-top: 1px solid #323232;
            padding: 20px;
            position: relative;

            input {
                width: 100%;
                height: 30px;
                padding: 0 10px;
                box-sizing: border-box;
                background-color: $mobileColor;
                color: #E8E8E8;
            }

            button {
                width: 20px;
                height: 20px;
                background-image: url('../../dist/images/icons/search.svg');
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 20px 20px;
                background-color: transparent;
                position: absolute;
                top: 25px;
                right: 35px;
            }
        }
    }

    // Gallery
    .gallery {
        li {
            a {
                width: 100%;
                height: auto;
                box-sizing: border-box;

                &::before, &::after {
                    display: none;
                }

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
        }
    }

    // Contact Page
    .contact {
        &.full {
            .contact {
                &_map {
                    &_inner {
                        height: 200px;
                    }
                }
            }
        }

        &_form {
            width: 100%;
            margin: 20px auto 20px;

            &_buttons {
                input,
                #recaptcha-submit {
                    min-width: 90px;
                    padding: 0 15px;
                    height: 37px;
                }
            }

            &_field {
                &.contactText {
                    svg {
                        z-index: 9999;
                    }
                }
            }
        }
    }
}

// 320-480
@include media(320,480) {
    // Resize Fonts
    html {
        font-size: px-to-rem($baseFontSize - 2);
    }

    // Gallery
    .gallery {
        li {
            width: calc(50% - 7.5px);

            &:not(:nth-child(2n)){
                margin-right: 15px;
            }

            &:not(:nth-child(-n + 2)){
                margin-top: 15px;
            }
        }
    }

    // Contact Page
    .contact {
        &_form {
            &_field {
                &.message {
                    textarea {
                        padding-right: 15px;
                        padding-left: 65px;
                    }
                }

                &.contactText {
                    svg {
                        padding-right: 20px;
                    }
                }

                svg {
                    width: 20px;
                    height: 20px;
                    left: 10px;
                }

                input {
                    padding-left: 65px;
                }
            }

            &_buttons {
                float: none;

                input {
                    &[type="reset"], &[type="submit"] {
                        float: left;
                    }
                }
            }
        }
    }
}

// 320 - 568
@include media(320,568) {
    // Contact
    .contact {
        &.multiple {
            .contact {
                &_informations {
                    width: 100%;
                    padding-right: 0;
                }

                &_map {
                    &_inner {
                        width: 100%;
                        height: 250px;
                        margin-bottom: 25px;
                        position: relative;
                    }
                }
            }
        }
    }
    
    // News Page
    .news {
        &List {
            &_img {
                margin: 0 auto;
                float: none;

                img {
                    margin: 0 auto;
                }
            }

            &_right {
                width: 100%;
                text-align: center;
                float: none;
            }

            &_title, &_date {
                float: none;
            }

            &_date {
                margin-top: 14px;
            }

            &_title {
                width: 100%;
            }
        }

        &_inner {
            &_title,
            &_date {
                width: 100%;
                float: none;
                text-align: center;
            }

            &_date {
                margin-top: 8px;
            }

            &_content {
                text-align: center;
            }
        }
    }
}

// 320 - 768
@include media(320,768) {
    // Contact Page
    .contact {
        &_title {
            @include font($baseFontSize + 5, $baseFontSize + 11);
        }

        &_list {
            li {
                @include font($baseFontSize, $baseFontSize + 6);
            }
        }

        &_form {
            &_top, &_right {
                width: 100%;
                position: relative;
            }

            &_field {
                &.message,
                &.address {
                    textarea {
                        padding: 10px 50px 10px 65px;
                    }

                    svg {
                        top: 10px;
                        border-right: 1px solid $borderColor;
                    }
                }
                &.message  {
                    textarea {
                        height: 98px !important;
                    }
                }
            }

            // Career
            &_careerTop {
                .address {
                    &.contact_form_field {
                        width: 100%;
                        height: 120px;
                        margin: 0 0 $contactMargin 0;
                        position: relative;
                    }
                }
            }
        }
    }
}

// 480 - 768
@include media(480, 768) {
    // Resize Fonts
    html {
        font-size: px-to-rem($baseFontSize - 1);
    }

    // Gallery
    .gallery {
        li {
            width: calc(33.3333% - 10px);

            &:not(:nth-child(3n)){
                margin-right: 15px;
            }

            &:not(:nth-child(-n + 3)){
                margin-top: 15px;
            }
        }
    }

    // Contact
    .contact {
        &_form {
            &_field {
                &.message,
                &.address {
                    svg {
                        padding-right: 20px;
                    }

                    textarea {
                        padding-left: 80px;
                    }
                }
            }

            &_buttons {
                input {
                    clear: both;
                    float: left;
                }
            }
        }
    }
}

// 568 - 768
@include media(568,768) {
    // Gallery
    .gallery {
        li {
            width: calc(100% / 3 - 10px);
            margin: 15px 15px 0 0;

            &:nth-child(3n){
                margin-right: 0;
            }

            &:nth-child(-n + 3){
                margin-top: 0;
            }
        }
    }
}

// 768 - Main Width
@include media(768, $mainWidth) {
    // Gallery
    .gallery {
        li {
            width: calc(25% - 9px);

            &:not(:nth-child(4n)){
                margin-right: 12px;
            }

            &:not(:nth-child(-n + 4)){
                margin-top: 12px;
            }
        }
    }

    // Contact
    .contact {
        &_title {
            @include font($baseFontSize + 5, $baseFontSize + 13);
        }

        &_list {
            li {
                @include font($baseFontSize, $baseFontSize + 6);
            }
        }
    }
}
