.contact {
    margin: 0 auto;
    position: relative;

    &.full {
        .contact_map_inner {
            width: 100%;
            height: 350px;
            margin-bottom: 40px;
            position: relative;
        }

        .contact_informations {
            width: 100%;
        }

        .contact_form {
            width: 100%;
        }
    }

    &.multiple {
        .contact_informations {
            width: 47.5%;
            padding-right: 52.5%;
            position: relative;
        }

        .contact_form {
            width: 100%;
        }
    }

    &_title {
        margin-bottom: 20px;
        border-bottom: 1px solid $borderColor;
        padding-bottom: 20px;
        color: $mainColor;
        @include font(24,28);

        &.lessSpace {
            margin-bottom: 5px;
        }
    }

    &_description {
        margin-bottom: 20px;
        color: #888;
        @include font(16,24);
    }

    &_informations {
        width: 47.5%;
        margin-bottom: 40px;
    }

    &_map {
        &.mobile {
            display: none;
        }

        &_inner, &_link, &_iframe, &_iframe iframe {
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
        }

        &_inner {
            width: 47.5%;
        }

        &_link, &_iframe {
            width: 100%;
            display: block;
            overflow: hidden;
        }

        &_link {
            z-index: 2;
        }

        &_iframe {
            z-index: 1;

            iframe {
                width: 100%;
            }
        }
    }

    &_list {
        &.icon {
            li {
                padding: 15px 0 15px 40px;

                svg {
                    width: 25px;
                    height: 25px;
                    background: no-repeat center / contain;
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    display: block;
                    @include prefix(transform,translate(0,-50%));

                    * {
                        fill: $mainColor;
                    }
                }

                div {
                    &:nth-of-type(1), &:nth-of-type(2){
                        display: none;
                    }

                    &:nth-of-type(3){
                        width: 100%;
                    }
                }
            }
        }

        li {
            padding: 15px 0;
            border-bottom: 1px solid #eee;
            color: #888;
            position: relative;
            @include font(15,23);

            svg {
                display: none;
            }

            div {
                display: block;

                &:not(.clearfix){
                    float: left;
                }

                &:first-of-type {
                    width:60px;
                }

                &:nth-of-type(2) {
                    width:45px;
                    text-align:center;
                }

                &:nth-of-type(3) {
                    width: calc(100% - 105px);
                }
            }

            a {
                color: #888;
            }
        }
    }

    &_form {
        width: 47.5%;

        &_inner {
            position: relative;
        }

        &_top {
            width: calc(50% - 6px);
            position: relative;
        }

        &_right {
            width: calc(50% - 6px);
            height: 100%;
            float: right;
            position: absolute;
            right: 0;
            top: 0;

            .message {
                height: 100%;

                textarea {
                    height: 100%;
                }
            }
        }

        &_field {
            position: relative;
            z-index: 2;

            svg {
                width: 24px;
                height: 27px;
                border-right: 1px solid $borderColor;
                padding-right: 20px;
                background: no-repeat center / contain;
                position: absolute;
                left: 20px;
                top: 50%;
                content: "";
                @include prefix(transform, translate(0, -50%));

                * {
                    fill: $mainColor;
                }
            }

            input, textarea {
                box-sizing: border-box;
                overflow: hidden;
                
                &:focus {
                    border-color: $borderColor;
                    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
                }

                &.error, &.error:focus, &.error + .fileBorder {
                    border-color: lighten(#C40F0F,20%);
                    box-shadow: 0 0 2px lighten(#C40F0F,20%);
                }

                &.valid, &.valid:focus, &.valid + .fileBorder {
                    border-color: lighten(#3c763d,30%);
                    box-shadow: 0 0 2px lighten(#3c763d,30%);
                }
            }

            input {
                width: 100%;
                height: 47px;
                margin-bottom: $contactMargin;
                padding: 0 10px 0 80px;
                border: 1px solid $borderColor;
                display: block;
                @include font(15);
                @include transition(0.2s);
            }

            textarea {
                width: 100%;
                height: 178px;
                margin-bottom: $contactMargin;
                padding: 10px 10px 10px 50px;
                border: 1px solid $borderColor;
                display: block;
                resize: none;
                overflow: auto;
                @include font(15,21);
                @include transition(0.2s);
            }

            &.contactText {
                svg {
                    border-right: none;
                    padding-right: 0;
                    top: 7px;
                    @include prefix(transform, translate(0,0));
                }
            }

            &.fileUpload {
                &::before {
                    background-image: url("../../images/icons/upload.svg");
                }

                input {
                    &.error {
                        & + .trickInput {
                            border-color: lighten(#C40F0F,20%);
                            box-shadow: 0 0 2px lighten(#C40F0F,20%);
                        }
                    }

                    &[type="file"] {
                        height: 47px;
                        opacity: 0;
                        cursor: pointer;
                    }

                    &.trickInput {
                        background: transparent;
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: -1;
                    }
                }

                .error + .fileBorder, .valid + .fileBorder {
                    display: block;
                }
            }
        }

        &_recaptcha {
            float: left;
        }

        &_buttons {
            float: right;
            @include flex(flex);
            @include flex-direction(column);

            input {
                height: 47px;
                margin-bottom: 4px;
                padding: 0 15px;
                background: $mainColor;
                border: 1px solid $mainColor;
                color: #fff;
                cursor: pointer;
                @include font(18);
                @include transition(0.2s);

                &:hover {
                    border-color: $secondColor;
                    background-color: $secondColor;
                    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
                    color: #fff;
                }
            }
        }
    }
}