// Search Variables
$search-border-color: #d6d6d6;
$search-zebra-color: #f0f0f0;

.search {
    &_list {
        > li {
            @include transition(.15s);

            &:nth-child(2n - 1){
                background-color: $search-zebra-color;
            }

            &:hover {
                background-color: darken($search-zebra-color,5%) !important;
            }

            &:not(:first-of-type){
                border-top: 1px solid $search-border-color;
            }

            a {
                padding: 10px 15px;
                position: relative;
                display: block;
                @include font($baseFontSize,$baseFontSize + 6,$baseFontFamily,$baseColor);

                &::before {
                    width: 4px;
                    height: 4px;
                    background-color: $baseColor;
                    border-radius: 50%;
                    content: "";
                    left: 5px;
                    @include centerer(vertical);
                }
            }
        }
    }
}