/*------------------------------------------*\
    COMPONENTS
\*------------------------------------------*/



/**
 ** CHECKBOX & RADIO & SELECT
**/
.checkbox, .radio {
    label {
        padding-left: 25px;
        position: relative;
        display: inline-block;
        cursor: pointer;
        @include font(14,24);

        &::before, &::after {
            width: 1em;
            height: 1em;
            border-radius: 50%;
            content: '';
            position: absolute;
            left: 0;
        }

        &::before {
            border: 1px solid #aaa;
            background: #f8f8f8;
            box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
            font-size: px-to-rem(18);
            top: 2px;
        }

        &::after {
            margin-left: 4px;
            background: $mainColor;
            font-size: px-to-rem(12);
            top: 50%;
            opacity: 0;
            @include transition(.25s);
            @include transform(translate(0,-50%) scale(0));
        }
    }

    input {
        width: 0;
        height: 0;
        @include hide();

        &:checked + label::after {
            opacity: 1;
            @include transform(translate(0,-50%) scale(1))
        }
    }
}

.selectContainer {
    width: 120px;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow: hidden;

    select {
        width: calc(100% + 30px);
        height: 20px;
        border: none;
        box-shadow: none;
        background-color: transparent;
        line-height: px-to-rem(20);
    }
}


/**
 ** TABLE
**/
.contentTable {
    width: 100%;
    margin: 20px 0;
    border: 1px solid #ccc;
    color: #666;
    box-shadow: 0 1px 2px #d1d1d1;
    @include font(14,22);

    &.head {
        tr {
            &:first-of-type {
                background: lighten(#eee,2.5%);
            }
        }
    }

    &.zebra {
        tr:not(:first-child):nth-child(2n+1){
            background: lighten(#eee,5%);

            &:hover {
                background: lighten(#eee,2.5%);
            }
        }
    }

    &.hover {
        tr {
            &:hover {
                background: lighten(#eee,2.5%);
            }
        }
    }

    tr,
    td,
    th {
        text-align: center;
        vertical-align: middle;
    }

    th {
        padding: 10px;
        border-bottom:1px solid #e0e0e0;
    }

    td {
        padding: 10px;
        border-bottom:1px solid #e0e0e0;
        border-left: 1px solid #e0e0e0;
    }
}
