/*------------------------------------------*\
    LAYOUTS
\*------------------------------------------*/

html {
    font-size: $baseFontSize * 1px;
    @include prefix(text-size-adjust, 100%);
}

body {
    font-family: $baseFontFamily;
    color: $baseColor;
}

.clear {
    height: 0;
    clear: both;
    display: block;
}

.bulletList {
    margin-left: 20px;
    list-style-type: disc;
}

.noListType {
    list-style-type: none;
}

.globalWidth {
    width: $mainWidth * 1px;
    margin: $centerElement;
}

.scrollTop {
    width: 50px;
    height: 50px;
    background: $mainColor;
    position: fixed;
    bottom: -50px;
    right: calc(50% - #{($mainWidth / 2 + 100) * 1px});
    z-index: 999;
    opacity: 0;
    @include ts2(background-color 0.25s, opacity 0.5s, bottom 0.5s);

    &.visible {
        bottom: 0;
        @include show();
    }

    &:hover {
        background: $secondColor;
    }

    &::before,
    &::after {
        width: 15px;
        height: 5px;
        margin-top: -2.5px;
        background: #fff;
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
    }

    &::before {
        margin-left: -11.5px;
        @include rotate(-45deg);
    }

    &::after {
        margin-left: -4px;
        @include rotate(45deg);
    }
}

/**
 ** HEADER
**/
.header {
       
}


/**
 ** SHOWCASE
**/
.showcase {

}


/**
 ** CONTENT
**/
.content {

}


/**
 ** SUB CONTENT
**/
.subContent {

}


/**
 ** FOOTER
**/
.footer {

}
