/*------------------------------------------*\
    MEDIA
\*------------------------------------------*/

$phone-small: 320;
$phone-medium: 375;
$phone-large: 425;
$phone-side-small: 480;
$phone-side-large: 568;
$tablet: 768;
$desktop: 1024;

@include media(($phone-small * 1px), ($mainWidth - 1 * 1px)) {
    // Display None Elements
    .class {
        display: none;
    }

    // Full Width Elements
    .class {
        width: 100%;
    }

    // Full Width Elements With Padding 20
    .globalWidth {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
        box-sizing: border-box;
    }

    // Slidebars
    .sb-slidebar {
        background: $mainColor;
    }

    // Mobile
    .mobile {
        &_btn {
            width: 1em;
            height: 1em;
            padding: 10px;
            background: transparent;
            cursor: pointer;
            position: absolute;
            right: 20px;
            top: 20px;
            @include font(50);

            &.is-active {
                span {
                    background: transparent;

                    &::before,
                    &::after {
                        background: #fff;
                    }                    

                    &:before {
                        top: 0;
                        @include rotate(225deg);
                    }

                    &:after {
                        bottom: 0;
                        @include rotate(-225deg);
                    }
                }

                &::before {
                    background: $mobileColor;
                }
            }

            &.withBg {
                &.is-active {
                    &:before {
                        width: 1em;
                        height: 1em;
                        background: $mobileColor;
                        opacity: 1;
                        @include font(50);
                    }

                    span {
                        &::before,
                        &::after {
                            background: #fff;
                        }
                    }
                }

                &:before {
                    opacity: 0;
                    width: 0;
                    height: 0;
                    border-radius: 50%;
                    background: transparent;
                    content: '';
                    @include centerer(center);
                    @include transition(0.5s ease);
                }
            }

            span {
                display: block;
                position: relative;

                &:before,
                &:after {
                    content: '';
                    position: absolute;
                    left: 0;
                }

                &:before {
                    top: -8px;
                }

                &:after {
                    bottom: -8px;
                }
            }

            span,
            span:before,
            span:after {
                width: 100%;
                height: 4px;
                background: $mobileColor;
                border-radius: 5px;
                @include transition(0.5s ease);
            }
        }

        &_top {
            @include flex(flex);

            li {
                width: 100%;
                border-bottom: 1px solid #fff;
                box-sizing: border-box;
                @include flex-grow(1);

                &:not(:last-of-type){
                    border-right: 1px solid #fff;
                }

                a {
                    width: 100%;
                    height: 50px;
                    background: $secondColor;
                    display: block;
                    position: relative;
                    @include font(15,19,null,#fff);
                    @include flex(flex);
                    @include justify-content(center);
                    @include align-items(center);

                    &.mobileHome {
                        &::after {
                            width: 22px;
                            height: 22px;
                            background: url("../../images/icons/home.svg") no-repeat center / 22px 22px;
                            content: "";
                            position: absolute;
                            left: 50%;
                            top: 50%;
                            @include translate(-50%, -50%);
                        }
                    }
                }
            }
        }

        &_list {
            li {
                border-bottom: 1px solid #fff;
                display: block;

                &.active {
                    background: $secondColor;

                    & > a {
                        color: #fff;
                    }
                }

                a {
                    padding: 13px 10px;
                    display: block;
                    position: relative;
                    @include font(15,19,$baseFontFamily,#fff,center);
                }

                &.active {
                    & > ul {
                        display: block;
                    }
                }
            }

            ul {
                padding: 4px 0;
                display: none;

                li {
                    border: none;

                    &.active {
                        a {
                            background: $mainColor;
                        }
                    }

                    &:first-child {
                        a {
                            padding-top: 0;
                        }
                    }

                    a {
                        padding: 10px;
                        @include font(14,18);
                    }
                }
            }
        }
    }

    // Gallery
    .gallery {
        li {
            a {
                width: 100%;
                height: auto;
                box-sizing: border-box;

                &::before, &::after {
                    display: none;
                }

                img {
                    width: 100%;
                    height: auto;
                    display: block;
                }
            }
        }
    }

    // Contact Page
    .contact {
        &.full {
            .contact {
                &_map {
                    &_inner {
                        height: 200px;
                    }
                }
            }
        }

        &_map {
            &.desktop {
                display: none;
            }

            &.mobile {
                display: block;
            }
        }

        &_form {
            width: 100%;
            margin: 20px auto 20px;
        }
    }
}

@include media(($phone-small * 1px), ($phone-side-small - 1 * 1px)) {
    // FAQ
    .faq {
        &_trigger {
            @include font(15,21);
        }
    }

    // Contact Page
    .contact {
        &_form {
            &_recaptcha {
                position: absolute;
                @include scale(0.921);
                @include prefix(transform-origin,0 0);
            }

            &_buttons {
                margin-top: 82px;
                float: none;

                input {
                    &[type="reset"], &[type="submit"] {
                        width: 133px;
                        float: left;

                        &.resetContact, &.resetCareer {
                            margin-right: 12px;
                        }
                    }
                }

                .clear {
                    display: none;
                }
            }

            // Career
            &.career {
                .contact_form_buttons {
                    margin-top: 94px;
                }
            }
        }
    }
}

@include media(($phone-small * 1px), ($phone-side-large - 1 * 1px)) {
    // Gallery
    .gallery {
        li {
            width: calc(50% - 7.5px);
            margin: 15px 15px 0 0;

            &:nth-child(2n){
                margin-right: 0;
            }

            &:nth-child(-n + 2){
                margin-top: 0;
            }
        }
    }

    // Contact
    .contact {
        &.multiple {
            .contact {
                &_informations {
                    width: 100%;
                }

                &_map {
                    &_inner {
                        width: 100%;
                        height: 250px;
                        position: relative;
                    }
                }
            }
        }
    }
    
    // News Page
    .news {
        &List {
            &_img {
                width: 225px;
                height: 155px;
                margin: 0 auto;
                float: none;

                &::after {
                    display: none;
                }
            }

            &_right {
                width: 100%;
                text-align: center;
                float: none;
            }

            &_title, &_date {
                float: none;
            }

            &_date {
                margin-top: 14px;
            }

            &_title {
                width: 100%;
            }
        }
    }
}

@include media(($phone-small * 1px), ($tablet - 1 * 1px)) {
    // Contact Page
    .contact {
        &_form {
            &_top, &_right {
                width: 100%;
                position: relative;
            }

            &_field {
                &.message {
                    textarea {
                        height: 98px !important;
                    }
                }
            }

            // Career
            &_careerTop {
                .address {
                    &.contact_form_field {
                        width: 100%;
                        height: 120px;
                        margin: 0 0 $contactMargin 0;
                        position: relative;
                    }
                }
            }
        }
    }
}

@include media(($phone-side-small * 1px), ($tablet - 1 * 1px)) {
    // Gallery
    .gallery {
        li {
            width: calc(100% / 3 - 10px);
            margin: 0 15px 15px 0;
        }
    }

    // FAQ
    .faq {
        &_trigger {
            @include font(18,22);
        }
    }
}

@include media(($phone-side-large * 1px), ($tablet - 1 * 1px)) {
    // Gallery
    .gallery {
        li {
            width: calc(100% / 3 - 10px);
            margin: 15px 15px 0 0;

            &:nth-child(3n){
                margin-right: 0;
            }

            &:nth-child(-n + 3){
                margin-top: 0;
            }
        }
    }
}

@include media(($tablet * 1px), ($mainWidth - 1 * 1px)){
    // Gallery
    .gallery {
        li {
            width: calc(25% - 15px);
            margin: 20px 20px 0 0;

            &:nth-child(4n){
                margin-right: 0;
            }

            &:nth-child(-n + 4){
                margin-top: 0;
            }
        }
    }
}

@include media-min(($mainWidth * 1px)){
    .contact_map.mobile,
    .mobile_btn {
        display: none;
    }
}
