/*------------------------------------------*\
    PAGES
\*------------------------------------------*/

/**
 ** NEWS
**/
.news {
    &List {
        & > li {
            margin-bottom: 25px;
            padding-bottom: 25px;
            border-bottom: 1px solid rgba(148,148,148,0.2);
            position: relative;

            &:last-child {
                border-bottom: none;
            }

            &:hover {
                .newsList_img {
                    &::after {
                        padding: 175px;
                    }
                }

                .newsList_more {
                    &::after {
                        bottom: -3px;
                        @include show();
                    }
                }
            }
        }

        &_link {
            position: absolute;
            top: 0;
            bottom: 25px;
            left: 0;
            right: 0;
            z-index: 2;
            display: block;
        }

        &_img {
            position: relative;
            overflow: hidden;
            float: left;

            img {
                display: block;
            }

            &::after {
                border: 150px solid rgba(0,0,0,0.6);
                content: "";
                border-radius: 50%;
                @include centerer(center);
                @include transition(0.5s);
            }
        }

        &_right {
            width: calc(100% - 265px);
            float: right;
        }

        &_title, &_date {
            margin-bottom: 14px;
            color: $mainColor;
            float: left;
            @include font(18,24);
        }

        &_title {
            width: calc(100% - 120px);
        }

        &_date {
            float: right;
        }

        &_summary {
            p {
                margin-bottom: 10px;
                @include font(17,23);
            }
        }

        &_more {
            color: $mainColor;
            display: inline-block;
            position: relative;
            @include font(17,23);

            &::after {
                width: 100%;
                height: 2px;
                background: $mainColor;
                content: '';
                position: absolute;
                bottom: -10px;
                left: 0;
                @include hide();
                @include transition(0.25s);
            }

            &:hover {
                &::after {
                    bottom: -3px;
                    @include show();
                }
            }
        }
    }

    &_inner {
        &_title, &_date {
            margin-bottom: 16px;
            color: $mainColor;
            @include font(18,24);
        }

        &_title {
            width: calc(100% - 120px);
            float: left;
        }

        &_date {
            float: right;
        }

        &_content {
            p {
                @include font(16,24);
            }
        }
    }

    &_other {
        &_title {
            margin: 100px 0 0 0;
            padding: 0 0 20px 0;
            border-bottom: 1px solid #E9E9E9;
            color: $mainColor;
            @include font(22,26);
        }

        &_list {
            & > li {
                border-bottom: 1px solid #E9E9E9;

                & > a {
                    padding: 20px 0 20px 18px;
                    color: $secondColor;
                    display: block;
                    position: relative;
                    @include font(17,21);
                    @include transition(0.2s);

                    &::before {
                        color: $secondColor;
                        content: "+";
                        left: 0;
                        @include centerer(vertical);
                        @include transition(0.2s);
                        @include font(17,21);
                    }

                    &:hover {
                        color: $mainColor;

                        &::before {
                            color: $mainColor;
                        }
                    }
                }
            }
        }
    }
}


/**
 ** CAREER
**/
.contact {
    &_form {
        &.career {
            width: 100%;
        }

        &_careerTop {
            position: relative;

            .contact_form_field {
                &.address {
                    width: calc(50% - 6px);
                    height: 100%;
                    margin: 0;
                    display: block;
                    position: absolute;
                    right: 0;
                    top: 0;

                    textarea {
                        height: 100%;
                    }
                }
            }
        }

        &_careerLeft {
            width: calc(50% - 6px);
            float: left;
        }
    }
}


/**
 ** CONTACT
**/
.contact {
    margin: 0 auto;
    position: relative;

    &.full {
        .contact_map_inner {
            width: 100%;
            height: 350px;
            margin-bottom: 40px;
            position: relative;
        }

        .contact_informations {
            width: 100%;
        }

        .contact_form {
            width: 100%;
        }
    }

    &.multiple {
        .contact_informations {
            width: 47.5%;
            padding-right: 52.5%;
            position: relative;
        }

        .contact_form {
            width: 100%;
        }
    }

    &_title {
        margin-bottom: 20px;
        color: $mainColor;
        @include font(24,28);

        &.lessSpace {
            margin-bottom: 5px;
        }
    }

    &_informations {
        width: 47.5%;
        margin-bottom: 40px;
    }

    &_map {
        &.mobile {
            display: none;
        }

        &_inner, &_link, &_iframe, &_iframe iframe {
            height: 100%;
            position: absolute;
            right: 0;
            top: 0;
        }

        &_inner {
            width: 47.5%;
        }

        &_link, &_iframe {
            width: 100%;
            display: block;
            overflow: hidden;
        }

        &_link {
            z-index: 2;
        }

        &_iframe {
            z-index: 1;

            iframe {
                width: 100%;
            }
        }
    }

    &_list {
        &.icon {
            li {
                padding: 15px 0 15px 30px;

                svg {
                    width: 20px;
                    height: 20px;
                    background: no-repeat center / contain;
                    content: "";
                    position: absolute;
                    left: 0;
                    top: 50%;
                    display: block;
                    @include prefix(transform,translate(0,-50%));

                    path,
                    rect {
                        fill: $mainColor;
                    }
                }

                div {
                    &:nth-of-type(1), &:nth-of-type(2){
                        display: none;
                    }

                    &:nth-of-type(3){
                        width: 100%;
                    }
                }
            }
        }

        li {
            padding: 15px 0;
            border-bottom: 1px solid #eee;
            color: $baseColor;
            position: relative;
            @include font(15,23);

            svg {
                display: none;
            }

            div {
                display: block;
                float: left;

                &:first-of-type {
                    width:60px;
                }

                &:nth-of-type(2) {
                    width:45px;
                    text-align:center;
                }

                &:nth-of-type(3) {
                    width: calc(100% - 105px);
                }

                &.clear {
                    float: none;
                }
            }

            a {
                color: $baseColor;
            }
        }
    }

    &_form {
        width: 47.5%;

        &_inner {
            position: relative;
        }

        &_top {
            width: calc(50% - 6px);
            position: relative;
        }

        &_right {
            width: calc(50% - 6px);
            height: 100%;
            float: right;
            position: absolute;
            right: 0;
            top: 0;

            .message {
                height: 100%;

                textarea {
                    height: 100%;
                }
            }
        }

        &_field {
            position: relative;
            z-index: 2;

            svg {
                width: 22px;
                height: 23px;
                background: no-repeat center / contain;
                position: absolute;
                left: 10px;
                top: 50%;
                content: "";
                @include prefix(transform, translate(0, -50%));

                path,
                rect {
                    fill: $mainColor;
                }
            }

            input, textarea {
                box-sizing: border-box;
                overflow: hidden;
                
                &:focus {
                    border-color: #66afe9;
                    box-shadow: 0 0 2px #66afe9;
                }

                &.error, &.error:focus, &.error + .fileBorder {
                    border-color: lighten(#C40F0F,20%);
                    box-shadow: 0 0 2px lighten(#C40F0F,20%);
                }

                &.valid, &.valid:focus, &.valid + .fileBorder {
                    border-color: lighten(#3c763d,30%);
                    box-shadow: 0 0 2px lighten(#3c763d,30%);
                }
            }

            input {
                width: 100%;
                height: 37px;
                margin-bottom: $contactMargin;
                padding: 0 50px;
                border-radius: 5px;
                border: 1px solid #D6D6D6;
                display: block;
                @include font(15,37);
                @include transition(0.2s);
            }

            textarea {
                width: 100%;
                height: 178px;
                margin-bottom: $contactMargin;
                padding: 10px 50px;
                border: 1px solid #D6D6D6;
                border-radius: 5px;
                display: block;
                resize: none;
                overflow: auto;
                @include font(15,21);
                @include transition(0.2s);
            }

            &.contactText {
                svg {
                    top: 7px;
                    @include prefix(transform, translate(0,0));
                }
            }

            &.fileUpload {
                &::before {
                    background-image: url("../../images/icons/upload.svg");
                }

                input {
                    &.error {
                        & + .trickInput {
                            border-color: lighten(#C40F0F,20%);
                            box-shadow: 0 0 2px lighten(#C40F0F,20%);
                        }
                    }

                    &[type="file"] {
                        height: 37px;
                        opacity: 0;
                        cursor: pointer;
                    }

                    &.trickInput {
                        background: transparent;
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: -1;
                    }
                }

                .error + .fileBorder, .valid + .fileBorder {
                    display: block;
                }
            }
        }

        &_recaptcha {
            float: left;
        }

        &_buttons {
            float: right;

            input {
                width: 130px;
                height: 37px;
                margin-bottom: 4px;
                padding: 0 10px;
                background: $secondColor;
                border: 1px solid $secondColor;
                border-radius: 5px;
                color: #fff;
                cursor: pointer;
                @include font(18,37);
                @include transition(0.2s);

                &:hover {
                    border-color: $mainColor;
                    background-color: $mainColor;
                    color: #fff;
                }
            }
        }
    }
}


/**
 ** GALLERY
**/
.gallery {
    overflow: hidden;
    @include flex(flex);
    @include flex-wrap(wrap);

    li {
        margin: $galleryMargin;

        @media screen and (min-width: $mainWidth * 1px){
            &:nth-child(-n + #{$imagesPerRow}){
                margin-top: 0;
            }

            &:nth-child(#{$imagesPerRow}n){
                margin-right: 0;
            }
        }

        a {
            width: $galleryWidth;
            height: $galleryHeight;
            position: relative;
            display: block;
            overflow: hidden;
            @include cover();

            &:hover {
                &::before {
                    border: solid rgba(0,0,0,0.7);
                    border-width: ($galleryHeight / 2 + 1) ($galleryWidth / 2 + 1) ($galleryHeight / 2 + 1) ($galleryWidth / 2 + 1);
                    opacity: 1;
                }

                &::after {
                    opacity: 1;
                    @include scale(1);
                    @include prefix(transition-delay,0.3s);
                }
            }

            &::before {
                width: 100%;
                height: 100%;
                border: 0px solid rgba(0,0,0,0.7);
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                opacity: 0;
                @include prefix(box-sizing, border-box);
                @include transition(0.4s ease-in-out);
            }

            &::after {
                width:22px;
                height:22px;
                margin: -11px 0 0 -11px;
                background: url("../../images/icons/search.svg") no-repeat center / contain;
                content: "";
                position: absolute;
                left: 50%;
                top: 50%;
                opacity: 0;
                @include scale(0);
                @include transition(transform 0.2s 0.1s ease-in, opacity 0.1s ease-in-out);
            }
        }
    }
}


/**
 ** FAQ
**/
.faq {
    & > li {
        background: #fff;
        box-shadow: 0 0px 2px rgba(0, 0, 0, 0.15);
        @include transition(box-shadow, 0.2s);

        &.active {
            .faq_trigger {
                &::before {
                    @include rotate(-45deg);
                }

                &::after {
                    @include rotate(45deg);
                }
            }
        }

        &:not(:first-child){
            margin-top: 10px;
        }
    }

    &_trigger {
        padding: 24px 72px 24px 24px;
        position: relative;
        display: block;
        color: $mainColor;
        @include font(20,26);

        &::before, &::after {
            width: 13px;
            height: 2px;
            background: $mainColor;
            content: "";
            box-sizing: border-box;
            position: absolute;
            right: 24px;
            top: 50%;
            @include transition(transform,0.3s);
        }

        &::before {
            right: 32px;
            @include rotate(45deg);
        }

        &::after {
            @include rotate(-45deg);
        }
    }

    &_content {
        padding: 0 24px 30px;
        color: $baseColor;
        display: none;
        @include font(14,22);

        &.active {
            display: block;
        }
    }
}
