/**
 ** HELPERS
**/

// Variables Images
$s-border-color: #d6d6d6;

.s {
    &-radius {
        @for $i from 1 through 20 {
            &-#{$i}{
                border-radius: $i + px;
            }
        }
    }

    &-circle {
        border-radius: 50%;
    }

    &-border {
        padding: 5px;
        border: 1px solid $s-border-color;
    }

    &-full {
        display: block;
    }
}