/**
 ** VISIBILITY
**/
.visible {
    &-xs,
    &-sm,
    &-md,
    &-lg {
        display: none !important;
    }

    &-xs {
        @include media-max(480){
            display: block !important;
        }
    }

    &-sm {
        @include media(480,768){
            display: block !important;
        }
    }

    &-md {
        @include media(768,1024){
            display: block !important;
        }
    }

    &-lg {
        @include media-min(1024){
            display: block !important;
        }
    }
}

.hidden {
    &-xs {
        @include media-max(480){
            display: none !important;
        }
    }

    &-sm {
        @include media(480,768){
            display: none !important;
        }
    }

    &-md {
        @include media(768,1024){
            display: none !important;
        }
    }

    &-lg {
        @include media-min(1024){
            display: none !important;
        }
    }
}

.mobile-view {
    @include media-min($mainWidth){
        display: none !important;
    }
}

.desktop-view {
    @include media-max($mainWidth){
        display: none !important;
    }
}