/**
 ** VISIBILITY
**/

// Visibility Breakpoints
$visibility-breakpoints : (
    xs: 480,
    sm: 568,
    md: 768,
    lg: 1024,
    xl: $mainWidth
);

@each $key, $val in $visibility-breakpoints {
    // Hide elements on screen > $value
    .hidden-#{$key}-up {
        @include media-min($val){
            display: none !important;
        }
    }

    // Hide elements on screen < $value
    .hidden-#{$key}-down {
        @include media-max($val - 1){
            display: none !important;
        }
    }
}

.hide {
    display: none !important;
}