/***** MINIMUM 320PX && MAXIMUM 1199PX *****/
@media screen and (min-width: 320px) and (max-width: 1199px) {    
    
    /* Mobile Menu */
    a#mobileHomeBtn {
        width: 20px;
        height: 18px;
        background: url(../../images/mobile/iconMobileHome.png) no-repeat;
        position: absolute;
        right: 65px;
        top: 51px;
        display: block;
    }

    div#mobileMenuBtn {
        width: 29px;
        height: 22px;
        background: url(../../images/mobile/iconMobileMenu.png) no-repeat;
        position: absolute;
        right: 15px;
        top: 50px;
        cursor: pointer;
        display: block;        
    }

    ul#mobileMenuList {
        padding: 10px 0;
        li {
            padding: 0 20px;
            border-bottom: 1px solid #fff;
            display: block;
            a {
                padding: 10px 0;
                display: block;
                position: relative;
                font-family: 'unitslabpro_regular';
                font-size: 15px;
                color: #fff;
            }
        }
    }

    ul#mobileMenuList > li > a.active:after {
        content: '>';
        position: absolute;
        right: 0;
        top: 0;
        font-size: 30px;
    }

    ul#mobileMenuList li {
        div.languages {
            padding-top: 10px;
            a {
                padding: 0;
                margin-bottom: 10px;
            }
        }
    }

    ul#mobileMenuList ul {
        padding: 4px 0;
        display: none;
    }    
    
    ul#mobileMenuList li.active ul {
        display: block;
    }

    ul#mobileMenuList ul {
        li {
            padding: 0 0 0 5px;
            border: none;
            a {
                padding: 8px;
                font-size: 13px;
            }
        }
    }

    ul#mobileMenuList ul li {
        &:first-child a {
            padding-top: 0;
        }
        a:before {
            padding-right: 5px;
            content: '>';
            font-size: 14px;
        }
    }

    /* Contact Page */
    #contactForm {
        margin: 0 auto;
    }

    #contactContainer {
        display: none;
    }

    #generalFormContainer {
        width: 90%;
        margin: 20px auto 20px;
    }

    #mobileContactContainer {
        display: block;
        width: 90%;
        margin: 20px auto 0;
    }

    #mobileContactContainer .generalFormTitle {
        margin: 0 0 1px 0;
    }

    .mobileMapContainer {
        width: 100%;
        height: 175px;
        position: relative;
    }

    .mobileMapContainer {
        a.mobileMap {
            width: 100%;
            height: 175px;
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 9999; 
        }
        iframe {
            width: 100%;
            height: 175px;
        }
    }

    table#contacts {
        tr,td {
            line-height: 18px;
        }
    }

    /* General Form */
    form.generalForm {
        width: 100%;
        margin: 0;
    }

    form.generalForm input[type="text"], form.generalForm textarea, form.generalForm select , #mapContainer form.generalForm input[type="text"] {
        width: 90%;
        padding: 6px 4%;
        font-size: 14px;
    }

    form.generalForm {
        input#captcha {
            width: 90px;
        }
        div.captchaImgContainer {
            width: 90px;
            margin-left: 10px;
            float: left;
        }
    }

}