/*------------------------------------------*\
    MIXINS
\*------------------------------------------*/

@import 'variables';

// ADDS A BROWSER PREFIX TO THE PROPERTY
@mixin prefix($property, $value){
   -webkit-#{$property}: #{$value};
    -khtml-#{$property}: #{$value};
      -moz-#{$property}: #{$value};
       -ms-#{$property}: #{$value};
        -o-#{$property}: #{$value};
           #{$property}: #{$value};
}

@mixin appearance {
    @include prefix(appearance, none);
}

// Display Flex
@mixin flex{
    display: -webkit-box;    
    display: -moz-box;      
    display: -ms-flexbox;  
    display: -webkit-flex;    
    display: flex;
    @include prefix(flex, none);
}

// Flex Direction
@mixin row {
    @include prefix(flex-direction, row);
}

@mixin column {
    @include prefix(flex-direction, column);
}

// Vertical Position of Flex Items
@mixin vCenter{
    @include prefix(align-items, center);
}

@mixin vEnd{
    @include prefix(align-items, flex-end);
}

@mixin vStretch {
    @include prefix(align-items, stretch);
}

@mixin vBaseline{
    @include prefix(align-items, baseline);
}

// Horizontal Position of Flex Items
@mixin hCenter {
    @include prefix(justify-content, center);
}

@mixin hEnd {
    @include prefix(justify-content, flex-end);
}

@mixin spaceB {
    @include prefix(justify-content, space-between);
}

@mixin spaceA {
    @include prefix(justify-content, space-around);
}

// Horizontally and Vertically Centered Element
@mixin center {
    @include prefix(align-items, center);
    @include prefix(justify-content, center);
}

// Self Positioning of a Flex Item
@mixin selfStart {
    @include prefix(align-self, flex-start);
}

@mixin selfCenter {
    @include prefix(align-self, center);
}

@mixin selfEnd {
    @include prefix(align-self, flex-end);
}

@mixin selfBaseline {
    @include prefix(align-self, baseline);
}

@mixin selfStretch {
    @include prefix(align-self, stretch);
}

// Transitions
@mixin ts($second){
    @include prefix(transition, all $second);
}

// Transition With More Than 1 Property
@mixin ts2($string...){
    @include prefix(transition, $string);
}

// Opacity
@mixin opacity($value){
    filter: alpha(opacity=($value * 100));
    @include prefix(opacity, $value);
}

// Box & Text Shadow 
@mixin box-shadow($string...){
    @include prefix(box-shadow, $string);
}

@mixin text-shadow($string...){
    @include prefix(text-shadow, $string);
}

// Transform Rotate
@mixin rotate($degree){
    @include prefix(transform, rotate($degree));
}

// Transform Scale
@mixin scale($value1, $value2){
    @include prefix(transform, scale($value1, $value2));
}

// Transform Translate
@mixin translate($value1, $value2){
    @include prefix(transform, translate($value1, $value2));
}

// Transform SkewX
@mixin skewX($degree){
    @include prefix(transform, skewX($degree));
}

// Transform SkewY
@mixin skewY($degree){
    @include prefix(transform, skewY($degree));
}

// Transform With More Than 1 Property
@mixin transform ($string...){
    @include prefix(transform, $string);
}

// Border Radius
@mixin radius($value){
    @include prefix(border-radius, $value);
}

// Background-size: Cover
@mixin cover($cover: cover){
    background-position: center;
    @include prefix(background-size, $cover);
}

// Animation
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }  
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }  
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    @include prefix(animation, $str);
}

// Hide & Show
@mixin hide{
    visibility: hidden;
    @include opacity(0);
}

@mixin show{
    visibility: visible;
    @include opacity(1);
}

// Linear Gradient 
@mixin linear($from, $to, $startColor, $endColor){
    background-image: -webkit-gradient(linear, $from, $to, color-stop(0, $startColor), color-stop(1, $endColor));
    background-image: -o-linear-gradient($to, $startColor 0%, $endColor 100%);
    background-image: -moz-linear-gradient($to, $startColor 0%, $endColor 100%);
    background-image: -webkit-linear-gradient($to, $startColor 0%, $endColor 100%);
    background-image: -ms-linear-gradient($to, $startColor 0%, $endColor 100%);
    background-image: linear-gradient(to $to, $startColor 0%, $endColor 100%);
}

