/*------------------------------------------*\
    MIXINS
\*------------------------------------------*/

@import 'variables';

// ADDS A BROWSER PREFIX TO THE PROPERTY
@mixin prefix($property, $value){
    -webkit-#{$property}: #{$value};
    -moz-#{$property}: #{$value};
    -ms-#{$property}: #{$value};
    #{$property}: #{$value};
}

@mixin appearance {
    @include prefix(appearance, none);
}

// Display Flex
@mixin flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    @include prefix(flex, none);
}

@mixin flexValue($fg: 1, $fs: null, $fb: null) {
    -webkit-box-flex: $fg-boxflex;
    -webkit-flex: $fg $fs $fb;
    -moz-box-flex: $fg-boxflex;
    -moz-flex: $fg $fs $fb;
    -ms-flex: $fg $fs $fb;
    flex: $fg $fs $fb;
}

// Flex Direction
@mixin row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

@mixin flexColumn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

// Flex Wrap
@mixin wrap($wrap: wrap) {
    @include prefix(flex-wrap, $wrap);
}

// Vertical Position of Flex Items
@mixin vStart{
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    -ms-grid-row-align: flex-start;align-items: flex-start;
}

@mixin vCenter{
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}

@mixin vEnd{
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end;
}

@mixin vStretch {
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    -ms-grid-row-align: stretch;
    align-items: stretch;
}

@mixin vBaseline{
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
    -ms-flex-align: baseline;
    -ms-grid-row-align: baseline;
    align-items: baseline;
}

// Horizontal Position of Flex Items
@mixin hStart {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}

@mixin hCenter {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}

@mixin hEnd {
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

@mixin spaceB {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@mixin spaceA {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

// Horizontally and Vertically Centered Element
@mixin center {
    @include vCenter();
    @include hCenter();
}

// Self Positioning of a Flex Item
@mixin selfStart {
    -webkit-align-self: flex-start;
    -ms-flex-item-align: start;
    align-self: flex-start;
}

@mixin selfCenter {
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

@mixin selfEnd {
    -webkit-align-self: flex-end;
    -ms-flex-item-align: end;
    align-self: flex-end;
}

@mixin selfBaseline {
    -webkit-align-self: baseline;
    -ms-flex-item-align: baseline;
    align-self: baseline;
}

@mixin selfStretch {
    -webkit-align-self: stretch;
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

// Flex Order
@mixin order($int: 0) {
    -webkit-box-ordinal-group: $int + 1;
    -webkit-order: $int;
    -moz-order: $int;
    -ms-flex-order: $int;
    order: $int;
}

// Transitions
@mixin ts($second){
    @include prefix(transition, all $second);
}

@mixin ts2($string...){
    @include prefix(transition, $string);
}

@mixin tsDelay($string...){
    @include prefix(transition-delay, $string);
}

@mixin tsDuration($string...) {
    @include prefix(transition-duration, $string);
}

@mixin tsProperty($string...) {
    @include prefix(transition-property, $string);
}

// Vertical Centering With Transform
@mixin tvCenter {
    position: absolute;
    top: 50%;
    @include translate(0,-50%);
}

// Horizontal Centering With Transform
@mixin thCenter {
    position: absolute;
    left: 50%;
    @include translate(-50%,0);
}

// Horizontally and Vertically Centered Element
@mixin tCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);
}

// Transform Rotate
@mixin rotate($degree){
    @include prefix(transform, rotate($degree));
}

// Transform Scale
@mixin scale($value1, $value2){
    @include prefix(transform, scale($value1, $value2));
}

// Transform Translate
@mixin translate($value1, $value2){
    @include prefix(transform, translate($value1, $value2));
}

// Transform SkewX
@mixin skewX($degree){
    @include prefix(transform, skewX($degree));
}

// Transform SkewY
@mixin skewY($degree){
    @include prefix(transform, skewY($degree));
}

// Transform With More Than 1 Property
@mixin transform ($string...){
    @include prefix(transform, $string);
}

// Covered Background
@mixin cover($cover: cover){
    background-position: center;
    background-size: $cover;
}

// Overlay
@mixin overlay($color:black, $opacity:0.5) {
    width: 100%;
    height: 100%;
    background: rgba($color, $opacity);
    position: absolute;
    top: 0;
    left: 0;
}

// Column
@mixin column($numberOfColumns, $columnMargin){
    @include prefix(column-count, $numberOfColumns);
    @include prefix(column-gap, $columnMargin);
}

// Animation
@mixin keyframes($animation-name) {
    @-webkit-keyframes #{$animation-name} {
        @content;
    }
    @-moz-keyframes #{$animation-name} {
        @content;
    }
    @-ms-keyframes #{$animation-name} {
        @content;
    }
    @-o-keyframes #{$animation-name} {
        @content;
    }
    @keyframes #{$animation-name} {
        @content;
    }
}

@mixin animation($str) {
    @include prefix(animation, $str);
}

// Hide & Show
@mixin hide{
    visibility: hidden;
    opacity: 0;
}

@mixin show{
    visibility: visible;
    opacity: 1;
}

// Linear Gradient 
@mixin linear($from, $to, $startColor, $endColor){
    background-image: -webkit-gradient(linear, $from, $to, color-stop(0, $startColor), color-stop(1, $endColor));
    background-image: -o-linear-gradient($to, $startColor 0%, $endColor 100%);
    background-image: -moz-linear-gradient($to, $startColor 0%, $endColor 100%);
    background-image: -webkit-linear-gradient($to, $startColor 0%, $endColor 100%);
    background-image: -ms-linear-gradient($to, $startColor 0%, $endColor 100%);
    background-image: linear-gradient(to $to, $startColor 0%, $endColor 100%);
}

