/*------------------------------------------*\
    VARIABLES
\*------------------------------------------*/

// Main
$mainWidth: 1200;
$centerElement: 0 auto;
$contactMargin: 12px;

// Table
$rowHeight: 50px;
$hoverBackground: #EC7B23;
$zebraColor: #f9f9f9;
$tableBorderColor: #DDD;
$headColor: #fff;
$hoverColor: #fff;
$cellPadding: 0 15px;
$headSize: 18px;
$cellSize: 15px;
$cellColor: #333;

// Text
$baseFontFamily: 'tahoma';
$baseFontSize: 12;
$baseColor: #333;
$mainColor: #EC7B23;
$secondColor: #D6D6D6;

// Social Colors
$facebook: #3b5998;
$twitter: #00aced;
$googleplus: #dd4b39;
$linkedin: #007bb5;
$youtube: #bb0000;
$instagram: #125688;
$instagramBrown: #9b6954;
$pinterest: #cb2027;

// Gallery 
$galleryWidth: 357px;
$galleryHeight: 299px;
$galleryMargin: 0 33px 33px 0;
$imagesPerRow: 2;

// Mobile 
$mobileButtonColor: #fff;