/*------------------------------------------*\
    COMPONENTS
\*------------------------------------------*/

/**
 ** LIST
**/
.list {
    margin-bottom: $gutter;

    > li {
        padding: $list-padding-vertical 0;
        box-sizing: border-box;
        @include font($list-font-size,($list-font-size + 6),$baseFontFamily,$baseColor);

        a {
            color: $baseColor;
        }
    }

    &:not([class*="list-col-"]){
        &:not(.list-full){
            display: inline-block;
        }
    }

    &-heading {
        border: 1px solid $list-border-color;

        > li {
            padding-right: ($gutter / 2);
            padding-left: ($gutter / 2);

            &:first-child {
                background: $list-heading-bg !important;
                font-family: $titleFontFamily;
                color: $list-heading-color;
            }
        }
    }

    &-circle,
    &-square {
        > li {
            padding-left: 17.5px !important;
            padding-right: 17.5px !important;
            position: relative;

            &::before {
                width: 5px;
                height: 5px;
                background: currentColor;
                content: "";
                position: absolute;
                left: 5px;
                top: #{($baseFontSize / 2) + $list-padding-vertical + 0.5};
            }
        }
    }

    &-circle {
        &.list-link {
            > li {
                a {
                    padding-left: 17.5px !important;
                }
            }
        }

        > li {
            &::before {
                border-radius: 50%;
            }
        }
    }

    &-bordered,
    &-zebra,
    &-hover {
        border: 1px solid $list-border-color;

        &:not(.list-zebra){
            > li {
                padding-left: $gutter / 2;
                padding-right: $gutter / 2;
            }
        }
    }
    
    &-bordered {
        > li {
            &:not(:first-of-type){
                border-top: 1px solid $list-border-color;
            }
        }
    }

    &-zebra {
        border: 1px solid $list-border-color;

        &:not([class^="list-col"]){
            &:not([class*="list-col"]){
                > li {
                    padding-left: $gutter / 2;
                    padding-right: $gutter / 2;

                    &:nth-child(2n - 1){
                        background: $list-zebra-color;
                    }
                }
            }
        }
    }

    &-link {
        > li {
            padding: 0 !important;

            a {
                padding: $list-padding-vertical ($gutter / 2);
                cursor: pointer;
                display: block;
            }
        }
    }

    &-hover {
        &.list-zebra {
            > li {
                &:hover {
                    background: darken($list-zebra-color,7.5%) !important;
                }
            }
        }

        > li {
            &:hover {
                background: $list-zebra-color;
            }
        }
    }

    &[class^="list-col"],
    &[class*="list-col"] {
        @include flex(flex);
        @include flex-wrap(wrap);

        > li {
            padding-left: $gutter / 2;
            padding-right: $gutter / 2;
        }
    }

    @for $i from 2 through 5 {
        &-col {
            &-#{$i}{
                &.list-bordered {
                    > li {
                        &:nth-child(-n + #{$i}){
                            border-top: none;
                        }
                    }
                }

                &.list-zebra {
                    > li {
                        @for $j from 1 through $i {
                            &:nth-child(#{$i * 2}n + #{$j}){
                                background: $list-zebra-color;
                            }
                        }
                    }
                }

                & > li {
                    width: 100% / $i;
                }
            }
        }
    }
}


/**
 ** IMAGES
**/
.img {
    &-radius {
        @for $i from 1 through 20 {
            &-#{$i}{
                border-radius: $i + px;
            }
        }
    }

    &-circle {
        border-radius: 50%;
    }

    &-bordered {
        padding: 5px;
        border: 1px solid $image-border-color;
    }

    &-pullLeft,
    &-pullRight {
        margin-bottom: $gutter;
    }

    &-pullLeft {
        margin-right: $gutter;
        float: left;
    }

    &-pullRight {
        margin-left: $gutter;
        float: right;
    }
}


/**
 ** TAB
**/
.tab {
    margin-bottom: $gutter;

    &_select {
        margin-bottom: $gutter;
        border: 1px solid $tab-border-color;
        position: relative;
        overflow: hidden;

        select {
            width: calc(100% + 40px);
            background: transparent;

            @if ($tab-vertical-padding == $tab-horizontal-padding) {
                padding: $tab-vertical-padding;
            } @else {
                padding: $tab-vertical-padding $tab-horizontal-padding;
            }

            @include font($baseFontSize + 2, $baseFontSize + 8);
        }

        &::after {
            margin-top: 1px;
            right: 10px;
            @include centerer(vertical);
            @include triangle(bottom,14px,7px,$baseColor);
        }
    }

    &_list {
        margin-bottom: $gutter;
        border-bottom: 1px solid $tab-border-color;
        @include flex(flex);

        &:not(&-fill){
            @include flex-wrap(wrap);
        }

        &-fill {
            @include flex-wrap(nowrap);

            > li {
                @include flex-grow(1);
            }
        }

        &-spaceBetween {
            @include justify-content(space-between);
        }

        &-spaceAround {
            @include justify-content(space-around);
        }

        &-centered {
            @include justify-content(center);
        }

        &-right {
            @include justify-content(flex-end);
        }

        > li {
            &.active {
                a {
                    background: $tab-bg;
                }
            }

            &:not(.active){
                &:hover {
                    a {
                        background: $tab-border-color;
                    }
                }
            }

            &:not(:last-of-type){
                margin-right: $tab-margin;
            }

            a {
                @if ($tab-vertical-padding == $tab-horizontal-padding) {
                    padding: $tab-vertical-padding;
                } @else {
                    padding: $tab-vertical-padding $tab-horizontal-padding;
                }

                margin-bottom: -$tab-border-width;
                border-top-left-radius: $tab-radius;
                border-top-right-radius: $tab-radius;
                border-width: $tab-border-width $tab-border-width 0 $tab-border-width;
                border-style: solid;
                border-color: $tab-border-color;
                display: block;
                @include font($baseFontSize + 2, $baseFontSize + 8,null,null,center);
            }
        }
    }

    &_content {
        &:not(.active){
            display: none;
        }
    }
}


/**
 ** ACCORDION
**/
.accordion {
    > li {
        border: 1px solid $accordion-border-color;
        @include transition(box-shadow .25s);

        &.active {
            > div {
                display: block;
            }
        }

        &:hover {
            box-shadow: 0 0 8px 1px rgba($accordion-border-color,.5);
        }

        &:not(:first-of-type){
            margin-top: $gutter;
        }

        > a {
            padding: $accordion-vertical-padding 40px $accordion-vertical-padding $accordion-horizontal-padding;
            position: relative;
            display: block;
            @include font($baseFontSize + 2, $baseFontSize + 8, $titleFontFamily);

            &.active {
                &::before {
                    @include rotate(-45deg);
                }

                &::after {
                    @include rotate(45deg);
                }
            }

            & + div {
                padding: $accordion-vertical-padding;
                border-top: 1px solid $accordion-border-color;
                display: none;
            }

            &::before, &::after {
                width: 10px;
                height: 2px;
                background: $baseColor;
                content: "";
                box-sizing: border-box;
                position: absolute;
                top: 50%;
                @include transition(transform,0.3s);
            }

            &::before {
                right: 21px;
                @include rotate(45deg);
            }

            &::after {
                right: 15px;
                @include rotate(-45deg);
            }
        }
    }
}


/**
 ** CHECKBOX & RADIO & SELECT
**/
.checkbox, .radio {
    label {
        padding-left: 25px;
        position: relative;
        display: inline-block;
        cursor: pointer;
        @include font(14,24);

        &::before, &::after {
            width: 1em;
            height: 1em;
            border-radius: 50%;
            font-size: 14px;
            content: '';
            position: absolute;
            left: 0;
        }

        &::before {
            border: 1px solid #aaa;
            background: #f8f8f8;
            box-shadow: inset 0 1px 3px rgba(0,0,0,.3);
            font-size: px-to-rem(18);
            top: 2px;
        }

        &::after {
            margin-left: 4px;
            background: $mainColor;
            font-size: px-to-rem(12);
            top: 50%;
            opacity: 0;
            @include transition(.25s);
            @include transform(translate(0,-50%) scale(0));
        }
    }

    input {
        width: 0;
        height: 0;
        @include hide();

        &:checked + label::after {
            opacity: 1;
            @include transform(translate(0,-50%) scale(1))
        }
    }
}

.selectContainer {
    background-color: #fff;
    overflow: hidden;

    select {
        width: calc(100% + 40px);
        border: none;
        box-shadow: none;
        background-color: transparent;
    }
}


/**
 ** TABLE
**/
.table {
    width: 100%;
    margin-bottom: $gutter;
    border: 1px solid $table-border-color;
    border-collapse: collapse;
    @include font(14,22,$baseFontFamily,$baseColor);
    
    caption {
        padding: $table-vertical-padding 0;
        background-color: $mainColor;
        @include font($baseFontSize + 5,$baseFontSize + 11,$titleFontFamily,#fff);
    }

    &-head {
        thead {
            tr {
                border-bottom-width: 2px;
                background: $table-zebra;
            }
        }

        &.table-zebra {
            &.hover {
                tr {
                    &:hover {
                        background: $table-zebra;
                    }
                }
            }

            tr {
                &:nth-child(2n){
                    background: $table-row-background;
                }
            }
        }
    }

    &-zebra {
        &:not(.head){
            tbody {
                tr {
                    &:nth-child(2n-1){
                        background: $table-row-background;
                    }
                }
            }
        }
    }

    &-center {
        tr {
            td,
            th {
                text-align: center;
            }
        }
    }

    &-border {
        td,
        th {
            border: 1px solid $table-border-color;
        }
    }

    &-hover {
        tbody {
            tr {
                &:hover {
                    background: $table-zebra !important;
                }
            }
        }
    }

    tr,
    th,
    td {
        &.success {
            background-color: #BFFFDF;
        }

        &.info {
            background-color: #d9edf7;
        }

        &.warning {
            background-color: #fcf8e3;
        }

        &.danger {
            background-color: #f2dede;
        }
    }

    tr {
        border-bottom: 1px solid $table-border-color;
        @include transition(.25s);
    }

    th,
    td {
        @if $table-vertical-padding == $table-horizontal-padding {
            padding: $table-vertical-padding;
        }@else {
            padding: $table-vertical-padding $table-horizontal-padding;
        }

        text-align: left;
        vertical-align: middle;
        white-space: normal;
    }
}

@include media-max($table-breakpoint){
    .table {
        &-responsive {
            border: none;
            box-shadow: none;

            &.table-responsive-left {
                tr {
                    td {
                        text-align: left;
                    }
                }
            }

            &.table-zebra {
                &.hover.head tbody tr,
                &.head tbody tr,
                tbody tr {
                    &:nth-child(2n - 1),
                    &:nth-child(2n) {
                        background: $table-background;
                    }
                }

                tr {
                    td {
                        border-bottom: 1px solid $table-border-color;

                        &:nth-of-type(2n - 1){
                            background: $table-row-background;
                        }
                    }
                }
            }

            &.hover {
                tbody {
                    tr {
                        &:hover {
                            background: inherit !important;
                        }
                    }
                }
            }

            thead {
                display: none;
            }

            tr {
                box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.24);
                display: block;

                &:not(:first-child){
                    margin-top: 20px;
                }

                td {
                    border: none;
                    display: block;
                    text-align: right;

                    &:not(:first-child){
                        border-top: none;
                    }

                    &:last-child {
                        border-bottom: none;
                    }

                    &::before {
                        content: attr(data-title);
                        margin-right: 10px;
                        float: left;
                        @include font($baseFontSize - 1,$baseFontSize + 5,null,$baseColor);
                    }
                }
            }
        }
    }
}
