/*------------------------------------------*\
    LAYOUTS
\*------------------------------------------*/

html {
    font-size: $baseFontSize * 1px;
    @include prefix(text-size-adjust, 100%);
}

body {
    padding-bottom: 500px;
    @include font(null,null,$baseFontFamily,$baseColor,null);
}

.clear {
    height: 0;
    clear: both;
    display: block;
}

.bulletList {
    margin-left: 20px;
    list-style-type: disc;
}

.noListType {
    list-style-type: none;
}

.globalWidth {
    width: $mainWidth * 1px;
    margin: 0 auto;
}

.scrollTop {
    width: 1em;
    height: 1em;
    background: $mainColor;
    position: fixed;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(#666,.5);
    font-size: 50px;
    bottom: -50px;
    right: calc((100% - #{$mainWidth * 1px}) / 2 - 60px);
    z-index: 999;
    opacity: 0;
    @include transition(background-color 0.25s, opacity 0.5s, bottom 0.5s);

    &.visible {
        bottom: 20px;
        @include show();
    }

    &:hover {
        background: $secondColor;
    }

    &::before {
        width: 1em;
        height: 1em;
        margin-top: 5px;
        border: 2px solid;
        border-color: #fff #fff transparent transparent;
        font-size: 10px;
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translate(-50%,-50%) rotate(-45deg));
    }
}

/**
 ** HEADER
**/
.header {

}


/**
 ** SHOWCASE
**/
.showcase {
    
}


/**
 ** CONTENT
**/
.content {

}


/**
 ** SUB CONTENT
**/
.subContent {

}


/**
 ** FOOTER
**/
.footer {

}
